mixin admin-popup(heading, buttonText, action, id)
  .popup(id=attributes.id || id || '', class=attributes.class)
    .popup__close.js-popup__close
    .popup__container
      form.form.form_vingette_none(action!=action, method='POST')
        .form__container
          if heading
            .form__heading
                span.form__h #{heading}
          form.form__form
            if formName
              input(type='hidden', value=formName)
            if block
              block
            .form__button
              button.button.button_color_yellow.button_size_1.button_text_alt #{buttonText}
