include ./admin-popup

mixin admin-popup-block(blockName)
  +admin-popup('Редактировать'  , 'Редактировать', 'api/block/edit')(id='popup-' + blockName + '-edit')
    input.form__input(type='hidden', name='id', value='{{ @blocks[\'' + blockName + '\'][\'id\'] }}')
    label.form__label Заголовок
      input.form__input(type='text', name='header', value='{{ @blocks[\'' + blockName + '\'][\'header\'] }}')
    label.form__label Цена
      input.form__input(type='text', name='price', value='{{ @blocks[\'' + blockName + '\'][\'price\'] }}')
    label.form__label Включена
      check(if='{{ @blocks[\'' + blockName + '\'][\'enable\'] == 1 }}')
        true
          input(type='checkbox', name='enable', value='1' checked)
        false
          input(type='checkbox', name='enable', value='1')