mixin button-card(heading, subheading, buttonClass, href, button, action, isLink)
  .button-card(class=attributes.class)
    if action
      span.button-card__action акция
    .button-card__heading
      if heading
        span.button-card__h #{heading}
      if subheading
        span.button-card__subh!= subheading
    if (!isLink)
      .button-card__button
        a.button.js-popup__opener(href!=href, class=buttonClass)= button || 'Заказать рацион'
    else
      .button-card__button
        a.button(href!=href, class=buttonClass)= button || 'Заказать рацион'