mixin gender-card(heading, text, href, rel, hint)
  .gender-card
    span.gender-card__heading!= heading
    if text
      span.gender-card__text!= text
    .gender-card__links
      ul
        li
          a.gender-card__link.gender-card__link_icon_female.js-scroll-to(href!=href, data-rel!=rel) для женщин
        li
          a.gender-card__link.gender-card__link_icon_male.js-scroll-to(href!=href, data-rel!=rel) для мужчин
    if hint
      span.gender-card__hint!= hint