mixin header-icon-card(heading)
  .header-icon-card(class!=attributes.class)
    .header-icon-card__wrapper
      .header-icon-card__container
        span.header-icon-card__heading #{heading}
        .header-icon-card__text
          if block
            block
