include ./checkbox

mixin policy-input()
	.policy-input&attributes(attributes)
		.policy-input__checkbox
			+checkbox
				input.js-policy-checkbox(type='checkbox' name='policy' value='Да' checked)
		.policy-input__text Я согласен на #[a.js-popup__opener(href='#popup-policy') обработку моих персональных данных]
