include ./policy-input

mixin popup(heading, formName)
  .popup(id=attributes.id, class=attributes.class)
    .popup__close.js-popup__close
    .popup__container
      .form
        .form__container
          .form__heading
            if heading
              span.form__h #{heading}
            else
              span.form__h заказать звонок
            span.form__subh Введите контактные данные и наш менеджер свяжется с Вами в ближайшее время
          form.form__form.js-form__ajax.js-policy(method='POST', action='api/sendmail')
            if formName
              input(type='hidden', name="formname", value=formName)
            input(type='text', name='name', placeholder='Имя_').form__input
            input(type='tel', name='phone', placeholder='Телефон_').form__input
            .form__policy
              +policy-input
            .form__button
              button.button.button_color_yellow.button_size_1.button_text_alt.js-policy-button заказать звонок
