/*----------------------------------------------------------------------------------------------------------------------
    brand
----------------------------------------------------------------------------------------------------------------------*/
.brand {
  color: $color-5;

  font-size: 0;
}

.brand__logo {
  display: inline-block;

  vertical-align: middle;

  background: url('../img/logo.png') 50% 50% no-repeat;
  background-size: cover;

  @include rem(height, 108px);
  @include rem(width, 240px);
  @include breakpoint($screen-1) {
    background-image: url('../img/scrn1/logo.png');

    @include rem-screen-1(height, scale-screen-1(108px));
    @include rem-screen-1(width, scale-screen-1(240px));
  }
  @include breakpoint($screen-2) {
    display: block;

    background-image: url('../img/logo.png');

    @include rem-screen-2(margin, 0 auto 10px);
    @include rem-screen-2(height, 108px);
    @include rem-screen-2(width, 240px);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /brand
----------------------------------------------------------------------------------------------------------------------*/
