/*----------------------------------------------------------------------------------------------------------------------
    button-card
----------------------------------------------------------------------------------------------------------------------*/
.button-card {
  position: relative;

  margin-top: 48px;

  text-align: center;

  border: 3px solid $color-4;

  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(17px) scale-screen-1(10px));
  }
  @include rem(padding, 17px 10px);
}

.button-card_background_white {
  position: relative;

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(255, 255, 255, .4);
  }
}

.button-card_size_1 {

}

.button-card_color_yellow {
  border-color: $color-6;
}

.button-card_color_blue {
  border-color: $color-3;
}

.button-card_color_white {
  border-color: $color-5;
}

.button-card_type_2 {
  border: 2px solid #e11900;
  background-image: linear-gradient(to top, rgba(214, 33, 8, .44) 0%, rgba(237, 14, 0, .44) 99%, rgba(237, 14, 0, .44) 100%);

  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(30px) scale-screen-1(20px) scale-screen-1(40px));
  }
  @include rem(padding, 30px 20px 40px);
}

.button-card__action {
  position: absolute;
  right: -3px;
  left: -3px;

  text-align: center;
  text-transform: uppercase;

  color: $color-5;
  background-color: $color-4;

  font-weight: 700;

  @include rem(top, -48px);
  @include rem(line-height, 48px);
  @include rem(height, 48px);
  @include rem(font-size, 30px);

  .button-card_color_yellow & {
    background-color: $color-6;
  }

  .button-card_color_blue & {
    background-color: $color-3;
  }
}

.button-card__heading {
  display: block;

  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(10px));
    @include rem-screen-1(font-size, scale-screen-1(27px));
  }
  @include rem(margin-bottom, 10px);
  @include rem(font-size, 27px);
  .button-card_type_2 & {
    @include breakpoint($screen-1) {
      @include rem-screen-1(margin-bottom, scale-screen-1(25px));
    }
    @include rem(margin-bottom, 25px);
  }

  .button-card_size_1 & {
    @include rem(font-size, 20px);
  }
}

.button-card__h {
  display: block;

  font-weight: 700;

  .button-card_type_2 & {
    text-transform: uppercase;

    color: $color-5;

    @include breakpoint($screen-1) {
      @include rem-screen-1(font-size, scale-screen-1(30px));
    }
    @include rem(font-size, 30px);
  }
}

.button-card__subh {
  display: block;

  b {
    font-weight: 700;
  }

  s {
    text-decoration: line-through;
  }
}

.button-card__button {
  @include rem(margin-bottom, 5px);

  &:last-child {
    margin-bottom: auto;
  }

  .button-card_size_1 & {
    .button {
      @include rem(font-size, 15px);
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /button-card
----------------------------------------------------------------------------------------------------------------------*/
