/*----------------------------------------------------------------------------------------------------------------------
    button
----------------------------------------------------------------------------------------------------------------------*/
.button {
  position: relative;

  display: inline-block;

  padding: .75em 1.66em;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $color-5;
  border: 1px solid $color-4;
  border-radius: 1.44em;
  background-color: $color-4;

  font-weight: 700;
  line-height: 1;

  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(18px));
    @include rem-screen-1(margin, scale-screen-1(7px));
  }
  @include rem(font-size, 18px);
  @include rem(margin, 7px);
  //transition: all .1s linear;
  &:hover {
    cursor: pointer;

    color: $color-1;
    background-color: transparent;
  }
  &:after, &:before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    border: 1px solid $color-4;
  }
  &:after {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;

    border-radius: 1.61em;
  }
  &:before {
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;

    opacity: .5;
    border-radius: 1.66em;
  }
}

.button_border_none {
  margin: 0;

  @include rem(padding, 20px);
  @include rem(border-radius, 29px);
  @include rem(font-size, 16px);

  &:after, &:before {
    display: none;
  }

  &:hover {
    border-color: #fff;
  }
}

.button_background_none.button_background_none {
  color: $color-5;
  background-color: transparent;
  &:hover {
    color: $color-5;
    background-color: $color-4;
  }
}

.button_text_alt.button_text_alt {
  color: $color-1;
  &:hover {
    color: $color-5;
  }
}

.button_size_1 {
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(15px));
  }
  @include rem(font-size, 15px);
  &:after {
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
  }
  &:before {
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }
}

.button_size_2 {
  @extend .button_size_1;
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(15px));
  }
  @include rem(font-size, 12px);
}

.button_color_yellow {
  border-color: $color-6;
  background-color: $color-6;

  &:after, &:before {
    border-color: $color-6;
  }
  &.button_background_none:hover {
    background-color: $color-6;
  }
}

.button_color_blue {
  border-color: $color-3;
  background-color: $color-3;

  &:after, &:before {
    border-color: $color-3;
  }
  &.button_background_none:hover {
    background-color: $color-3;
  }
}

.button_border-color_white {
  border-color: $color-5;
  &:after, &:before {
    border-color: $color-5;
  }
}

.button_text-color_white {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.button[disabled] {
  background-color: #ccc;
  border-color: #ccc;
  cursor: auto;

  &:after, &:before {
    border-color: #ccc;
  }

  &:hover {
    color: $color-1;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /button
----------------------------------------------------------------------------------------------------------------------*/
