.checkbox {
  display: inline-block;

  &__label {
    position: relative;

    display: block;

    cursor: pointer;

    color: inherit;

    font-size: 16px;
  }

  &__radio {
    position: relative;

    display: block;
    overflow: hidden;

    width: 21px;
    height: 21px;

    vertical-align: middle;

    border: 1px solid #fff;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 18px;
      height: 14px;
      margin-top: -(14px / 2);
      margin-left: -(18px / 2);

      content: '';
      transition: all .25s;
      transform: scale(0);

      opacity: 0;
      background: url('../img/check.png') 50% 50% no-repeat;
      background-size: cover;
    }

    .checkbox_2 & {
      background-color: #fff;
    }
  }

  input[type='checkbox'], input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    opacity: 0;

    &:checked ~ .checkbox__radio {
      &:after {
        transform: scale(1);

        opacity: 1;
      }
    }
  }

  &_2 {
  }
}
