.cookie-message {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: #ccc;

  @include rem(padding, 35px 0);

  &.is-enabled {
    display: block;
  }

  &__container {
    font-size: 0;
  }

  &__message {
    display: inline-block;

    width: 75%;
    margin-right: 5px;

    vertical-align: top;

    @include rem(font-size, 16px);

    a {
      text-decoration: none;

      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__button {
    display: inline-block;

    width: 20%;

    vertical-align: top;
  }
}
