/*----------------------------------------------------------------------------------------------------------------------
    dishes-table
----------------------------------------------------------------------------------------------------------------------*/
.dishes-table {
  width: 100%;

  border-collapse: collapse;
  td {
    width: 33.333%;
    margin: 0;

    text-align: center;
    vertical-align: middle;

    border: 2px solid $color-1;

    @include rem(padding, 24px 1em);
    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, scale-screen-1(24px) 1em);
    }
    @include breakpoint($screen-2) {
      @include rem-screen-2(padding, scale-screen-2(24px) 1em);
    }
  }
}

.dishes-table_desktop {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.dishes-table_mobile {
  display: none;

  @include breakpoint($screen-2) {
    display: table;
  }
}

.dishes-table__heading.dishes-table__heading {
  padding: 1em;

  text-align: center;
  text-transform: uppercase;

  border: none;

  font-weight: 700;

  @include rem(font-size, 30px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(30px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, scale-screen-2(30px));
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /dishes-table
----------------------------------------------------------------------------------------------------------------------*/
