/*----------------------------------------------------------------------------------------------------------------------
    form
----------------------------------------------------------------------------------------------------------------------*/
.form {
  position: relative;

  background-color: rgba($color-3, .8);

  &:before, &:after {
    position: absolute;
    z-index: 1;

    content: '';

    border: 1px solid $color-3;
  }
  &:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }
  &:after {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }
}

.form_background_none {
  background-color: transparent;
}

.form_vingette_none {
  &:before, &:after {
    display: none;
  }
}

.form__container {
  position: relative;
  z-index: 2;

  padding: 55px;

  text-align: center;

  @include rem(padding, 55px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(55px));
  }
}

.form__heading {
  display: block;

  margin-bottom: 30px;

  @include rem(margin-bottom, 30px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(30px));
  }
}

.form__h {
  display: block;

  margin-bottom: 20px;

  text-transform: uppercase;

  font-size: 30px;
  font-weight: 700;

  @include rem(margin-bottom, 20px);
  @include rem(font-size, 30px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
    @include rem-screen-1(font-size, scale-screen-1(30px));
  }
}

.form__subh {
  display: block;

  font-size: 20px;

  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
}

.form__label {
  display: block;

  text-align: left;

  line-height: 1.5;

  @include rem(font-size, 16px);
  @include rem(margin-bottom, 10px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(16px));
    @include rem-screen-1(margin-bottom, scale-screen-1(10px));
  }
}

.form__input {
  display: block;

  color: $color-1;
  border: 1px solid transparent;
  outline: none;
  background-color: $color-5;

  font-family: $font-1;
  font-weight: 300;

  @include rem(width, 323px);
  @include rem(margin, 0 auto 15px);
  @include rem(padding, 15px 20px);
  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(323px));
    @include rem-screen-1(margin, 0 auto scale-screen-1(15px));
    @include rem-screen-1(padding, scale-screen-1(15px) scale-screen-1(20px));
    @include rem-screen-1(font-size, scale-screen-1(16px));
  }
  @include input-placeholder {
    color: #949594;
  }
  &:last-child {
    margin-bottom: auto;
  }
  &.error {
    color: $color-8;
    border-color: $color-8;

    @include input-placeholder {
      color: $color-8;
    }
  }
}

.form__policy {
  color: #ffffff;
}

.form__button {
  margin-top: 35px;

  text-align: center;

  @include rem(margin-top, 35px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-top, scale-screen-1(35px));
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /form
----------------------------------------------------------------------------------------------------------------------*/
