/*----------------------------------------------------------------------------------------------------------------------
    gender-card
----------------------------------------------------------------------------------------------------------------------*/
.gender-card {
  text-align: center;
  text-transform: uppercase;
}

.gender-card__heading {
  display: block;

  color: $color-8;

  font-weight: 700;

  @include rem(font-size, 23px);
  @include rem(margin-bottom, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(23px));
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 20px);
    @include rem-screen-2(margin-bottom, scale-screen-2(20px));
  }
}

.gender-card__text {
  display: block;

  color: $color-8;

  @include rem(font-size, 16px);
  @include rem(margin-bottom, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(16px));
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 14px);
    @include rem-screen-2(margin-bottom, scale-screen-2(20px));

  }
}

.gender-card__links {
  text-align: left;
  ul {
    margin: 0 auto;
    padding: 0;

    list-style-type: none;

    @include rem(width, 135px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(width, scale-screen-1(135px));
    }
    @include breakpoint($screen-2) {
      @include rem-screen-2(width, 110px);
    }
  }
  li {
    @include rem(margin-bottom, 5px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(margin-bottom, scale-screen-1(5px));
    }
  }
}

.gender-card__link {
  display: block;

  text-decoration: none;

  color: $color-1;

  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(16px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 14px);
  }
  &:before {
    display: inline-block;

    margin-right: .5em;

    content: '';
    transition: transform .25s;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include rem(height, 18px);
    @include rem(width, 11px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(height, scale-screen-1(18px));
      @include rem-screen-1(width, scale-screen-1(11px));
    }
  }
  &:hover {
    text-decoration: underline;
    &:before {
      transform: rotate3d(0, 0, 1, .5turn);
    }
  }
}

.gender-card__link_icon_male {
  &:before {
    background-image: url('../img/slide-5-icon-male.png');
  }
}

.gender-card__link_icon_female {
  &:before {
    background-image: url('../img/slide-5-icon-female.png');
  }
}

.gender-card__hint {
  display: block;
  margin-top: 20px;
  color: $color-8;

  @include rem(font-size, 16px);
  @include rem(margin-top, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(16px));
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 14px);
    @include rem-screen-2(margin-bottom, scale-screen-2(20px));

  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /gender-card
----------------------------------------------------------------------------------------------------------------------*/
