/*----------------------------------------------------------------------------------------------------------------------
    gender-table
----------------------------------------------------------------------------------------------------------------------*/
.gender-table {
  width: 100%;

  text-align: center;

  color: $color-5;
  border-collapse: collapse;

  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 13px);
  }
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(18px));
  }
  @include rem(font-size, 15px);
  td {
    width: 50%;

    vertical-align: middle;

    border: 2px solid $color-5;

    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, scale-screen-1(5px));
    }
    @include rem(padding, 5px);
  }
}

.gender-table_color_grey {
  color: $color-1;

  td {
    position: relative;

    border-color: $color-10;

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      background-color: rgba(255, 255, 255, .25);
    }
  }
}

.gender-table__description {
  display: block;

  padding: 5px 0;
}

.gender-table__heading {
  display: block;

  padding: 6px 0;

  color: $color-9;

  font-weight: 700;

  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(24px));
  }
  @include rem(font-size, 24px);

  .gender-table_color_grey & {
    color: $color-1;
  }
}

.gender-table__heading_color_yellow {
  color: $color-7;
}

.gender-table__heading_color_white {
  color: $color-5;
}

.gender-table__item {
}

.gender-table__heading_ttu {
  text-transform: uppercase;
}

.gender-table__item-heading {
  display: block;

  font-weight: 700;
}

.gender-table__item-text {
}
/*----------------------------------------------------------------------------------------------------------------------
    /gender-table
----------------------------------------------------------------------------------------------------------------------*/
