/*----------------------------------------------------------------------------------------------------------------------
    header-icon-card
----------------------------------------------------------------------------------------------------------------------*/
.header-icon-card {
  border: 3px solid $color-6;
  &:before {
    display: block;

    content: '';

    border-bottom: 3px solid $color-6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;

    @include rem(height, 83px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(height, scale-screen-1(83px));
    }
  }
}

.header-icon-card_icon_1 {
  &:before {
    background-image: url('../img/slide-3-icon-1.png');

    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-3-icon-1.png');
    }
  }
}

.header-icon-card_icon_2 {
  &:before {
    background-image: url('../img/slide-3-icon-2.png');

    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-3-icon-2.png');
    }
  }
}

.header-icon-card_icon_3 {
  &:before {
    background-image: url('../img/slide-3-icon-3.png');

    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-3-icon-3.png');
    }
  }
}

.header-icon-card__wrapper {
  display: table;

  width: 100%;

  @include rem(min-height, 252px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(min-height, 183px);
  }
}

.header-icon-card__container {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  @include rem(padding, 80px 1em 50px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(80px) 1em scale-screen-1(50px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(80px) 1em scale-screen-2(50px));
  }
}

.header-icon-card__heading {
  display: block;

  color: #fff;

  font-weight: 700;

  @include rem(margin-bottom, 18px);
  @include rem(font-size, 23px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(18px));
    @include rem-screen-1(font-size, scale-screen-1(23px));
  }
}

.header-icon-card__text {
  color: #fff;

  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(18px));
  }
  ul {
    margin: 0;

    list-style-type: none;
    list-style-image: url('../img/slide-3-icon-ok.png');

    text-align: left;
  }
  li {
    margin-bottom: .3em;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /header-icon-card
----------------------------------------------------------------------------------------------------------------------*/
