/*----------------------------------------------------------------------------------------------------------------------
    heading
----------------------------------------------------------------------------------------------------------------------*/
.heading {
  display: block;

  text-align: center;

  & > *:last-child {
    margin-bottom: auto;
  }
}

.heading_align_left {
  text-align: left;
  @include breakpoint($screen-2) {
    text-align: center;
  }
}

.heading__h {
  display: block;

  margin-bottom: .25em;

  text-transform: uppercase;

  font-weight: 700;

  @include rem(font-size, 48px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(48px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, scale-screen-2(48px));
  }
  b {
    color: $color-3;
  }
  .heading_color_blue & {
    color: $color-3;
  }
  .heading_color_orange & {
    color: $color-4;
  }
  .heading_color_white & {
    color: $color-5;
  }
}

.heading__subh {
  display: block;

  margin-bottom: .5em;

  font-weight: 300;

  @include rem(font-size, 32px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(32px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, scale-screen-2(32px));
  }

  b {
    color: $color-2;

    font-weight: 700;
  }
  .heading_color_white &, .heading_color_blue &, .heading_color_orange & {
    color: $color-5;
  }
}

.heading__subsubh {
  display: block;

  font-weight: 300;

  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, scale-screen-2(24px));
  }

  b {
    font-weight: 700;
  }
  .heading_color_white &, .heading_color_blue &, .heading_color_orange & {
    color: $color-5;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /heading
----------------------------------------------------------------------------------------------------------------------*/
