/*----------------------------------------------------------------------------------------------------------------------
    header-card
----------------------------------------------------------------------------------------------------------------------*/
.header-card {
  border: 3px solid $color-1;
  background-color: $color-5;
}

.header-card__header {
  display: block;

  text-align: center;
  text-transform: uppercase;

  border-bottom: 3px solid $color-1;

  font-weight: 700;

  @include rem(font-size, 30px);
  @include rem(padding, 20px 1em);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(30px));
    @include rem-screen-1(padding, scale-screen-1(20px) 1em);
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 18px);
    @include rem-screen-2(padding, scale-screen-2(20px) 1em);
  }
}

.header-card__body {
  @include rem(padding, 25px 50px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(25px) scale-screen-1(50px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(25px) scale-screen-2(50px));
  }
}

.header-card__text {
  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
  ul {
    margin: 0;

    list-style-type: none;

    @include rem(padding, 0 0 0 40px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, 0 0 0 scale-screen-1(40px));
    }
    @include breakpoint($screen-2) {
      @include rem-screen-2(padding, 0 0 0 scale-screen-2(40px));
    }
  }
  li {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: auto;
    }
    &:before {
      display: inline-block;

      margin-right: .25em;

      content: '-';
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /header-card
----------------------------------------------------------------------------------------------------------------------*/
