/*----------------------------------------------------------------------------------------------------------------------
    header
----------------------------------------------------------------------------------------------------------------------*/
.header {
  color: $color-5;

  @extend %clearfix;
}

.header__item {
}

.header__item_aling_left {
  float: left;

  @include rem(max-width, 240px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(max-width, scale-screen-1(240px));
  }
  @include breakpoint($screen-2) {
    float: none;

    max-width: 100%;

    @include rem-screen-2(margin-bottom, 20px);
  }
}

.header__item_aling_center {
  float: left;

  @include rem(max-width, 500px);
  @include rem(margin-left, 40px);
  @include breakpoint($screen-2) {
    max-width: 100%;
    margin-left: auto;

    @include rem(margin-bottom, 45px);
  }
}

.header__item_aling_right {
  float: right;

  @include rem(max-width, 220px);
  @include rem(padding-top, 18px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(max-width, scale-screen-1(220px));
    @include rem-screen-1(padding-top, scale-screen-1(18px));
  }
  @include breakpoint($screen-2) {
    float: none;

    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
  }
}

.header__addr {
  display: block;

  text-align: right;
  text-transform: uppercase;

  font-weight: 300;

  @include rem(margin-bottom, 10px);
  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(10px));
    @include rem-screen-1(font-size, scale-screen-1(16px));
  }
  @include breakpoint($screen-2) {
    display: block;

    text-align: center;

    @include rem-screen-2(font-size, 16px);
  }
}

.header__phone {
  display: block;

  text-decoration: none;

  color: $color-6;

  font-weight: 700;

  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 20px);
  }
  &:hover {
    text-decoration: underline;
  }
}

.header__mail {
  text-decoration: none;

  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.header__addr-button {
  margin-bottom: 10px;

  @include breakpoint($screen-2) {
    text-align: center;
  }
}

.header__social {
  ul {
    margin: 0;
    padding: 0;

    text-align: right;

    font-size: 0;

    @include breakpoint($screen-2) {
      text-align: center;
    }
  }

  li {
    display: inline-block;

    margin-right: 15px;

    &:last-child {
      margin-right: auto;
    }
  }
}

.header__social-item {
  display: inline-block;

  width: 32px;
  height: 32px;

  background-position: 50% 50%;

  &_vkontakte {
    background-image: url('../img/scrn1/vkontakte.png');
  }

  &_instagram {
    background-image: url('../img/scrn1/instagram.png');
  }

  &_facebook {
    background-image: url('../img/scrn1/facebook.png');
  }
}


/*----------------------------------------------------------------------------------------------------------------------
    /header
----------------------------------------------------------------------------------------------------------------------*/
