/*----------------------------------------------------------------------------------------------------------------------
    icon-card
----------------------------------------------------------------------------------------------------------------------*/
.icon-card {
  &:before {
    position: relative;

    display: block;

    content: '';

    background-size: cover;

    @include rem(margin, 0 auto 25px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(margin, 0 auto scale-screen-1(25px));
    }
  }
}

.icon-card_type_2 {
  color: $color-8;
}

.icon-card_icon_1 {
  &:before {
    background-image: url('../img/slide-2-icon-1.png');

    @include rem(height, 112px);
    @include rem(width, 88px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-2-icon-1.png');

      @include rem-screen-1(height, scale-screen-1(112px));
      @include rem-screen-1(width, scale-screen-1(88px));
    }
  }
}

.icon-card_icon_2 {
  &:before {
    left: -15px;

    background-image: url('../img/slide-2-icon-2.png');

    @include rem(width, 131px);
    @include rem(height, 101px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-2-icon-2.png');

      @include rem-screen-1(width, scale-screen-1(131px));
      @include rem-screen-1(height, scale-screen-1(101px));
    }
  }
}

.icon-card_icon_3 {
  &:before {
    background-image: url('../img/slide-2-icon-3.png');

    @include rem(width, 134px);
    @include rem(height, 117px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-2-icon-3.png');

      @include rem-screen-1(width, scale-screen-1(134px));
      @include rem-screen-1(height, scale-screen-1(117px));
    }
  }
}

.icon-card_icon_4 {
  &:before {
    background-image: url('../img/slide-5-product-1.png');

    @include rem(width, 189px);
    @include rem(height, 200px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-5-product-1.png');

      @include rem-screen-1(width, scale-screen-1(189px));
      @include rem-screen-1(height, scale-screen-1(200px));
    }
    @include breakpoint($screen-2) {
      background-image: url('../img/scrn2/slide-5-product-1.png');

      @include rem-screen-2(width, scale-screen-2(189px));
      @include rem-screen-2(height, scale-screen-2(200px));
    }
  }
}

.icon-card_icon_5 {
  &:before {
    background-image: url('../img/slide-5-product-2.png');

    @include rem(width, 209px);
    @include rem(height, 199px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-5-product-2.png');

      @include rem-screen-1(width, scale-screen-1(209px));
      @include rem-screen-1(height, scale-screen-1(199px));
    }
    @include breakpoint($screen-2) {
      background-image: url('../img/scrn2/slide-5-product-2.png');

      @include rem-screen-2(width, scale-screen-2(209px));
      @include rem-screen-2(height, scale-screen-2(199px));
    }
  }
}

.icon-card_icon_6 {
  &:before {
    background-image: url('../img/slide-5-product-3.png');

    @include rem(width, 165px);
    @include rem(height, 239px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-5-product-3.png');

      @include rem-screen-1(width, scale-screen-1(165px));
      @include rem-screen-1(height, scale-screen-1(239px));
    }
    @include breakpoint($screen-2) {
      background-image: url('../img/scrn2/slide-5-product-3.png');

      @include rem-screen-2(width, scale-screen-2(165px));
      @include rem-screen-2(height, scale-screen-2(239px));
    }
  }
}

.icon-card__heading {
  display: block;

  text-align: center;
  text-transform: uppercase;

  font-weight: 700;

  @include rem(margin-bottom, 20px);
  @include rem(font-size, 23px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
    @include rem-screen-1(font-size, scale-screen-1(23px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(20px));
    @include rem-screen-2(font-size, 20px);
  }
}

.icon-card__text {
  text-transform: uppercase;

  font-weight: 300;

  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 16px);
  }
  b {
    font-weight: 700;
  }

  .icon-card_type_2 & {
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /icon-card
----------------------------------------------------------------------------------------------------------------------*/
