/*----------------------------------------------------------------------------------------------------------------------
    num-card
----------------------------------------------------------------------------------------------------------------------*/
.num-card {
  position: relative;

  text-align: left;

  font-size: 0;

  @include rem(padding-left, 50px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding-left, scale-screen-1(50px));
  }
}

.num-card__num {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 700;

  @include rem(font-size, 48px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(48px));
  }
}

.num-card__text {
  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
  @include rem(padding-top, 5px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding-top, scale-screen-1(5px));
  }
  b {
    font-weight: 700;
  }
  .ttu {
    text-transform: uppercase;
  }
  .blue {
    color: $color-3;
  }
  .red {
    color: $color-4;
  }
  .yellow {
    color: $color-6;
  }
  a {
    text-decoration: underline;

    color: $color-3;

    @include rem(font-size, 25px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(font-size, scale-screen-1(25px));
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.num-card__phone.num-card__phone {
  display: inline-block;

  text-decoration: none;

  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /num-card
----------------------------------------------------------------------------------------------------------------------*/
