.policy-input {
  position: relative;

  display: block;

  &__checkbox {
    display: inline-block;

    margin-right: .25em;

    vertical-align: middle;
  }

  &__text {
    display: inline;

    text-align: left;

    color: inherit;

    font-size: 14px;

    @media (max-width: 767px) {
      font-size: 11px;
    }

    a {
      text-decoration: none;

      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
