/*----------------------------------------------------------------------------------------------------------------------
    popup
----------------------------------------------------------------------------------------------------------------------*/
.popup {
  position: relative;

  margin: 0 auto;

  @include rem(width, 559px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(559px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(width, scale-screen-2(559px));
  }

  &_text {
  }
}

.popup__close {
  position: absolute;
  z-index: 3;
  top: 16px;
  right: 16px;

  width: 20px;
  height: 20px;

  background: url('../img/popup-icon-close.png') 50% 50% no-repeat;
  background-size: cover;

  @include rem(top, 16px);
  @include rem(right, 16px);
  @include rem(width, 20px);
  @include rem(height, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(top, scale-screen-1(16px));
    @include rem-screen-1(right, scale-screen-1(16px));
    @include rem-screen-1(width, scale-screen-1(20px));
    @include rem-screen-1(height, scale-screen-1(20px));
  }
  &:hover {
    cursor: pointer;

    opacity: .75;
  }
}

.popup__container {
  .popup_text & {
    background-color: #fff;

    @include rem(padding, 55px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, scale-screen-1(55px));
    }
  }
}

.popup__header {
  display: block;

  margin-bottom: 1em;

  text-align: center;

  font-size: 1.65em;
}

.popup__hide {
  display: none;
}
/*----------------------------------------------------------------------------------------------------------------------
    /popup
----------------------------------------------------------------------------------------------------------------------*/
