/*----------------------------------------------------------------------------------------------------------------------
    tab
----------------------------------------------------------------------------------------------------------------------*/
.tab {
  display: block;

  text-align: center;
  text-decoration: none;

  background-color: $color-4;

  @include rem(padding, 15px 1em);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(15px) 1em);
  }
  &.tab_type_2 {
    &:hover, &.active {
      cursor: pointer;

      background-color: darken($color-4, 15);
    }
    &:active {
      background-color: lighten($color-4, 5);
    }
    &.active {
      cursor: auto;
    }
  }
}

.tab_weight_normal {
}

.tab_color_grey.tab_color_grey {
  border: none;
  background-color: $color-10;
  &.tab_type_2 {
    &:hover, &.active {
      background-color: darken($color-10, 15);
    }
    &:active {
      background-color: lighten($color-10, 5);
    }
  }
}

.tab_color_blue {
  background-color: $color-3;
  &.tab_type_2 {
    &:hover, &.active {
      background-color: darken($color-3, 15);
    }
    &:active {
      background-color: lighten($color-3, 5);
    }
  }
}

.tab_color_yellow {
  background-color: $color-6;
  &.tab_type_2 {
    &:hover, &.active {
      background-color: darken($color-6, 15);
    }
    &:active {
      background-color: lighten($color-6, 5);
    }
  }
}

.tab_type_2 {
  position: relative;

  color: #fff;
  border: 2px solid $color-5;
  background-color: transparent;

  @include rem(padding, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(20px));
  }
  &.active {
    &.tab_color_grey {
      &:after {
        background-color: $color-10;

        @include rem(bottom, -33px);
        @include breakpoint($screen-1) {
          @include rem-screen-1(bottom, scale-screen-1(-33px));
        }
        @include breakpoint($screen-2) {
          @include rem-screen-2(bottom, scale-screen-2(-34px));
        }
      }
    }
    &:after {
      position: absolute;
      left: 50%;

      width: 2px;
      margin-left: -1px;

      content: '';

      background-color: $color-5;

      @include rem(bottom, -36px);
      @include rem(height, 34px);
      @include breakpoint($screen-1) {
        @include rem-screen-1(bottom, scale-screen-1(-36px));
        @include rem-screen-1(height, scale-screen-1(34px));
      }
      @include breakpoint($screen-2) {
        @include rem-screen-2(bottom, scale-screen-2(-36px));
        @include rem-screen-2(height, scale-screen-2(34px));
      }
    }
  }
}

.tab__h {
  display: block;

  text-transform: uppercase;

  font-weight: 700;
  line-height: 1;

  @include rem(font-size, 30px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(22px));
  }

  .tab_weight_normal & {
    font-weight: 400;

    b {
      font-weight: 700;
    }
  }
}

.tab__subh {
  font-size: 16px;

  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(16px));
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /tab
----------------------------------------------------------------------------------------------------------------------*/
