/*----------------------------------------------------------------------------------------------------------------------
    top-button
----------------------------------------------------------------------------------------------------------------------*/
.top-button {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;

  width: 55px;
  height: 55px;

  transition: all .2s;

  opacity: 0;
  border-radius: 50%;
  background-color: #000;

  font-size: 0;

  &.is-active {
    opacity: .75;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 30px;
    height: 19px;
    margin-top: -(19px / 2) - 2px;
    margin-left: -(30px / 2);

    content: '';

    background: url('../img/scrn1/arrow-up.png') 50% 50% no-repeat;
  }

  &:hover {
    opacity: 1;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /top-button
----------------------------------------------------------------------------------------------------------------------*/
