/*----------------------------------------------------------------------------------------------------------------------
    auth
----------------------------------------------------------------------------------------------------------------------*/
.auth {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #e4e3df;
  background-image: linear-gradient(to right, #e4e3df 0%, #dddeea 100%);
}

.auth__container {
  display: table;

  width: 100%;
  height: 100%;
}

.auth__centered {
  display: table-cell;
  vertical-align: middle;
}

.auth__form {
  margin: 0 auto;

  @include rem(width, 500px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(500px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(width, scale-screen-2(500px));
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /auth
----------------------------------------------------------------------------------------------------------------------*/
