/*----------------------------------------------------------------------------------------------------------------------
    UI Kit
----------------------------------------------------------------------------------------------------------------------*/
.uikit {
  background-color: #ffffff;
}

.uikit__section {
  padding: 1.5em;
}

.uikit__heading {
  margin-bottom: 1em;
}

.uikit__example {
  margin-bottom: 1em;
  padding: 2em 0;

  border: 2px dashed #ccc;
  border-right: none;
  border-left: none;
}

.uikit__example_bg_dark {
  border-color: #fff;
  background-color: $color-1;
}

.uikit__comments {
  margin: 2.5em 0 1.5em;
}
/*----------------------------------------------------------------------------------------------------------------------
    /UI Kit
----------------------------------------------------------------------------------------------------------------------*/
