/*----------------------------------------------------------------------------------------------------------------------
    slide-12
----------------------------------------------------------------------------------------------------------------------*/
.slide-12 {
  position: relative;

  @include rem(height, 300px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(height, 300px);
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(height, 300px);
  }
}

.slide-12__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-12
----------------------------------------------------------------------------------------------------------------------*/
