/*----------------------------------------------------------------------------------------------------------------------
    slide-6
----------------------------------------------------------------------------------------------------------------------*/
.slide-6 {
  background-color: $color-5;

  @include rem(padding, 100px 0 50px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(100px) 0 scale-screen-1(50px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(100px) 0 scale-screen-2(50px));
  }
}

.slide-6__heading {
  @include rem(margin-bottom, 60px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(60px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(60px));
  }
}

.slide-6__container {
  text-align: center;

  font-size: 0;

  @include rem(margin-bottom, 55px - 40px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(55px - 40px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(55px - 40px));
  }
}

.slide-6__item {
  display: inline-block;

  vertical-align: top;

  @include rem(margin-bottom, 40px);
  @include rem(margin-right, 60px);
  @include rem(width, 410px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(40px));
    @include rem-screen-1(margin-right, scale-screen-1(60px));
    @include rem-screen-1(width, scale-screen-1(410px));
  }
  @include breakpoint($screen-2) {
    display: block;

    width: auto;

    @include rem-screen-1(margin, 0 auto 20px);
    @include rem-screen-2(padding, 0 20px);
  }
  &:nth-child(2n) {
    margin-right: auto;
  }
}

.slide-6__button {
  text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-6
----------------------------------------------------------------------------------------------------------------------*/
