/*----------------------------------------------------------------------------------------------------------------------
    slide-10
----------------------------------------------------------------------------------------------------------------------*/
.slide-10 {
  position: relative;
}

.slide-10__image {
  position: relative;
  z-index: 1;

  display: block;

  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

.slide-10__content {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slide-10__align {
  display: table;

  width: 100%;
  height: 100%;
}

.slide-10__button {
  display: table-cell;

  width: 100%;

  text-align: center;
  vertical-align: middle;
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-10
----------------------------------------------------------------------------------------------------------------------*/
