/*----------------------------------------------------------------------------------------------------------------------
    slide-2
----------------------------------------------------------------------------------------------------------------------*/
$slide-2-line-width: 11px;
$slide-2-line-gutter: 7px;

.slide-2 {
  position: relative;

  background-color: $color-3;

  @include rem(padding, 65px 0 90px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(65px) 0 scale-screen-1(90px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(65px) 0 scale-screen-2(90px));
  }
}

.slide-2__lines {
  position: absolute;
  right: 0;
  left: 0;

  background-color: $color-3;

  @include rem(top, ($slide-2-line-width + $slide-2-line-gutter) * -1);
  @include rem(height, $slide-2-line-width);
  @include breakpoint($screen-1) {
    @include rem-screen-1(top, scale-screen-1(($slide-2-line-width + $slide-2-line-gutter) * -1));
    @include rem-screen-1(height, scale-screen-1($slide-2-line-width));
  }
  &:before, &:after {
    position: absolute;
    right: 0;
    left: 0;

    @include rem(height, $slide-2-line-width);
    @include breakpoint($screen-1) {
      @include rem-screen-1(height, scale-screen-1($slide-2-line-width));
    }

    content: '';

    background-color: $color-3;
  }

  &:before {
    @include rem(top, ($slide-2-line-width + $slide-2-line-gutter) * -1);
    @include breakpoint($screen-1) {
      @include rem-screen-1(top, scale-screen-1(($slide-2-line-width + $slide-2-line-gutter) * -1));
    }
  }

  &:after {
    @include rem(top, ($slide-2-line-width + $slide-2-line-gutter) * -2);
    @include breakpoint($screen-1) {
      @include rem-screen-1(top, scale-screen-1(($slide-2-line-width + $slide-2-line-gutter) * -2));
    }
  }
}

.slide-2__path {
}

.slide-2__heading {
  @include rem(margin-bottom, 60px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(60px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(60px));
  }
}

.slide-2__container {
  text-align: center;

  font-size: 0;

  @include rem(margin-bottom, 97px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(97px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, 40px);
  }
}

.slide-2__item {
  display: inline-block;

  vertical-align: bottom;

  @include rem(width, 260px);
  @include rem(margin-right, 90px);
  @include breakpoint($screen-1) {
    vertical-align: middle;

    @include rem-screen-1(width, scale-screen-1(260px));
    @include rem-screen-1(margin-right, scale-screen-1(90px));
  }
  @include breakpoint($screen-2) {
    display: block;
    @include rem-screen-2(margin, 0 auto 20px);
  }
  &:last-child {
    margin-right: auto;
  }
}

.slide-2__button {
  position: relative;

  text-align: center;
  &:before {
    position: absolute;
    left: 50%;

    content: '';

    background-image: url('../img/slide-2-path.png');
    background-size: cover;

    @include rem(bottom, 25px);
    @include rem(width, 720px);
    @include rem(height, 117px);
    @include rem(margin-left, (720px / -2));
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/slide-2-path.png');

      @include rem-screen-1(bottom, scale-screen-1(25px));
      @include rem-screen-1(width, scale-screen-1(720px));
      @include rem-screen-1(height, scale-screen-1(117px));
      @include rem-screen-1(margin-left, scale-screen-1(720px / -2));
    }
    @include breakpoint($screen-2) {
      display: none;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-2
----------------------------------------------------------------------------------------------------------------------*/
