/*----------------------------------------------------------------------------------------------------------------------
    slide-7
----------------------------------------------------------------------------------------------------------------------*/
.slide-7 {
  background-color: #fff;
  .container {
    position: relative;

    @include rem(padding, 60px 0 180px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, scale-screen-1(60px) 0 scale-screen-1(180px));
    }
    @include breakpoint($screen-2) {
      @include rem-screen-2(padding, scale-screen-2(60px) 0 0);
    }
  }
}

.slide-7__girl {
  position: absolute;
  bottom: 0;

  background: url('../img/slide-7-girl.png') 50% 100% no-repeat;
  background-size: 100% auto;

  @include rem(height, 675px);
  @include rem(width, 382px);
  @include rem(right, -260px);
  @include breakpoint($screen-1) {
    background-image: url('../img/scrn1/slide-7-girl.png');

    @include rem-screen-1(height, scale-screen-1(675px));
    @include rem-screen-1(width, scale-screen-1(382px));
    @include rem-screen-1(right, scale-screen-1(-70px));
  }
  @include breakpoint($screen-2) {
    position: static;

    display: block;

    margin: 0 auto;

    background-image: url('../img/scrn2/slide-7-girl.png');

    @include rem-screen-2(height, scale-screen-2(675px));
    @include rem-screen-2(width, scale-screen-2(382px));
  }
}

.slide-7__wrapper {
  margin: 0 auto;

  @include rem(width, 1010px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(900px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(padding, 0 10px);
    @include rem-screen-2(margin-bottom, 25px);
  }
}

.slide-7__heading {
  @include rem(margin, 0 auto 35px);
  @include rem(width, 780px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(35px));
    @include rem-screen-1(width, scale-screen-1(480px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(margin-bottom, scale-screen-2(35px));
  }
}

.slide-7__container {
  position: relative;
  z-index: 10;
  //display: inline-block;

  font-size: 0;

  @include rem(margin-bottom, 30px);
  @include breakpoint($screen-1) {
    text-align: center;

    @include rem-screen-1(margin-bottom, scale-screen-1(60px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(70px));
  }
}

.slide-7__item {
  display: inline-block;

  vertical-align: top;

  @include rem(margin-right, 40px);
  @include rem(width, 309px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-right, scale-screen-1(40px));
    @include rem-screen-1(width, scale-screen-1(309px));
    @include rem-screen-1(margin-bottom, scale-screen-1(-30px));
  }
  @include breakpoint($screen-2) {
    display: block;

    width: auto;

    @include rem-screen-2(margin, 0 auto -20px);
  }
  &:last-child {
    margin-right: auto;
  }
}

.slide-7__hint {
  display: block;

  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    text-align: center;

    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-7
----------------------------------------------------------------------------------------------------------------------*/
