/*----------------------------------------------------------------------------------------------------------------------
    slide-8
----------------------------------------------------------------------------------------------------------------------*/
$slide-8-lemon-left-width: 1118px;
$slide-8-lemon-left-height: 841px;
$slide-8-lemon-left-offset: -894px;
$slide-8-lemon-right-width: 1059px;
$slide-8-lemon-right-height: 1194px;
$slide-8-lemon-right-offset: -922px;

.slide-8 {
  background-color: #3a3a3a;
  background-image: radial-gradient(circle 2002px, #3a3a3a 0%, #0e100f 100%);
  .container {
    position: relative;

    @include rem(padding, 110px 0 100px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, scale-screen-1(110px) 0 scale-screen-1(100px));
    }
    @include breakpoint($screen-2) {
      @include rem-screen-2(padding, scale-screen-2(110px) 0 scale-screen-2(100px));
    }
  }
}

.slide-8__lemon {
  position: absolute;
  z-index: 1;

  box-sizing: content-box;

  transition: all 1s;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;

  @include breakpoint($screen-2) {
    display: none;
  }
  &.animated {
    transform: translate3d(0, 0, 0);
  }
}

.slide-8__lemon_left {
  transform: translate3d(($slide-8-lemon-left-width + $slide-8-lemon-left-offset) * -1, 0, 0);
  transform: translate3d(to-rem($slide-8-lemon-left-width + $slide-8-lemon-left-offset, 16px) * -1, 0, 0);

  background-image: url('../img/slide-8-lemon-left.png');
  background-position: 50% 100%;

  @include rem(top, 18px);
  @include rem(left, $slide-8-lemon-left-offset);
  @include rem(width, $slide-8-lemon-left-width);
  @include rem(height, $slide-8-lemon-left-height);
  @include rem(padding-top, 163px);
  @include breakpoint($screen-1) {
    transform: translate3d(($slide-8-lemon-left-width + $slide-8-lemon-left-offset) * $screen-scale-1 * -1, 0, 0);
    transform: translate3d(to-rem($slide-8-lemon-left-width + $slide-8-lemon-left-offset, 16px) * $screen-scale-1 * -1, 0, 0);

    background-image: url('../img/scrn1/slide-8-lemon-left.png');

    @include rem-screen-1(top, scale-screen-1(18px));
    @include rem-screen-1(left, scale-screen-1($slide-8-lemon-left-offset));
    @include rem-screen-1(width, scale-screen-1($slide-8-lemon-left-width));
    @include rem-screen-1(height, scale-screen-1($slide-8-lemon-left-height));
    @include rem-screen-1(padding-top, scale-screen-1(163px));
  }
}

.slide-8__lemon_right {
  transform: translate3d(($slide-8-lemon-right-width + $slide-8-lemon-right-offset), 0, 0);
  transform: translate3d(to-rem($slide-8-lemon-right-width + $slide-8-lemon-right-offset, 16px), 0, 0);

  background-image: url('../img/slide-8-lemon-right.png');
  background-position: 50% 0;

  @include rem(top, 18px);
  @include rem(right, $slide-8-lemon-right-offset);
  @include rem(width, $slide-8-lemon-right-width);
  @include rem(height, $slide-8-lemon-right-height);
  @include rem(padding-bottom, 190px);
  @include breakpoint($screen-1) {
    transform: translate3d(($slide-8-lemon-right-width + $slide-8-lemon-right-offset) * $screen-scale-1, 0, 0);
    transform: translate3d(to-rem($slide-8-lemon-right-width + $slide-8-lemon-right-offset, 16px) * $screen-scale-1, 0, 0);

    background-image: url('../img/scrn1/slide-8-lemon-right.png');

    @include rem-screen-1(top, scale-screen-1(18px));
    @include rem-screen-1(right, scale-screen-1($slide-8-lemon-right-offset));
    @include rem-screen-1(width, scale-screen-1($slide-8-lemon-right-width));
    @include rem-screen-1(height, scale-screen-1($slide-8-lemon-right-height));
    @include rem-screen-1(padding-bottom, scale-screen-1(190px));
  }
}

.slide-8__wrapper {
  position: relative;
  z-index: 2;

  margin: 0 auto;

  @include rem(width, 897px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(897px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(padding, 0 10px);
  }
}

.slide-8__heading {
  @include rem(width, 620px);
  @include rem(margin, 0 auto 35px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(620px));
    @include rem-screen-1(margin, 0 auto scale-screen-1(35px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(margin, 0 auto scale-screen-2(35px));
  }
}

.slide-8__nav {
  text-align: center;

  font-size: 0;

  @include rem(margin-bottom, 33px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(33px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(33px));
  }
}

.slide-8__nav-item {
  display: inline-block;

  @include rem(width, 240px);
  @include rem(margin-right, 88px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(240px));
    @include rem-screen-1(margin-right, scale-screen-1(88px));
  }
  @include breakpoint($screen-2) {
    width: 33.33%;
    margin-right: auto;
    margin-left: -1px;
  }
  &:last-child {
    margin-right: auto;
  }
}

.slide-8__tab {
  display: none;

  @include rem(margin-bottom, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
  }
  &.active {
    display: block;
  }
}

.slide-8__hint {
  display: block;

  text-align: center;

  color: $color-5;

  @include rem(margin-bottom, 20px);
  @include rem(font-size, 20px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(20px));
    @include rem-screen-1(font-size, scale-screen-1(20px));
  }
}

.slide-8__button {
  text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-8
----------------------------------------------------------------------------------------------------------------------*/
