/*----------------------------------------------------------------------------------------------------------------------
    slide-1
----------------------------------------------------------------------------------------------------------------------*/
.slide-1 {
  background-color: $color-1;

  @include rem(padding, 20px 0 0);
  @include rem(height, 970px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(20px) 0 0);
    @include rem-screen-1(height, scale-screen-1(970px));
  }
  @include breakpoint($screen-2) {
    height: auto;
  }
  .container {
    position: relative;

    height: 100%;
  }
}

.slide-1__container {
  position: relative;
  z-index: 1;
}

.slide-1__header {
  @include rem(margin-bottom, 30px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(30px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, 35px);
  }
}

.slide-1__heading {
  @include rem(margin-bottom, 30px);
  @include rem(width, 530px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(30px));
    @include rem-screen-1(width, scale-screen-1(530px));
  }
  @include breakpoint($screen-2) {
    width: auto;
  }
}

.slide-1__buttons {
  @include rem(width, 360px);
  @include breakpoint($screen-2) {
    text-align: center;

    @include rem-screen-2(margin-bottom, scale-screen-1(50px));
  }
  @include breakpoint($screen-2) {
    margin: 0 auto;
  }
}

.slide-1__button {
  @include rem(margin-bottom, 13px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(13px));
  }

  .button {
    width: 100%;
  }
}

.slide-1__cook {
  position: absolute;
  z-index: 0;
  bottom: 0;

  @include rem(height, 560px);
  @include rem(width, 883px);
  @include rem(right, -121px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(height, scale-screen-1(560px));
    @include rem-screen-1(width, scale-screen-1(883px));
    @include rem-screen-1(right, scale-screen-1(-121px));
  }
  @include breakpoint($screen-2) {
    position: relative;

    margin: 0 auto;

    @include rem-screen-2(height, scale-screen-2(560px));
    @include rem-screen-2(width, scale-screen-2(883px));
    @include rem-screen-2(right, 70px);
  }
  &:before {
    position: absolute;
    z-index: 2;

    content: '';

    background: url('../img/cook.png') 50% 100% no-repeat;
    background-size: cover;

    @include rem(height, 560px);
    @include rem(width, 883px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/cook.png');

      @include rem-screen-1(height, scale-screen-1(560px));
      @include rem-screen-1(width, scale-screen-1(883px));
    }
    @include breakpoint($screen-2) {
      position: relative;

      display: block;

      background-image: url('../img/scrn2/cook.png');

      @include rem-screen-2(height, scale-screen-2(560px));
      @include rem-screen-2(width, scale-screen-2(883px));
    }
  }
  &:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    content: '';

    background: url('../img/cook-light.png') 50% 50% no-repeat;
    background-size: cover;

    @include rem(margin-left, (1116px / -2) + 50px);
    @include rem(margin-top, (1056px / -2));
    @include rem(height, 1056px);
    @include rem(width, 1116px);
    @include breakpoint($screen-1) {
      background-image: url('../img/scrn1/cook-light.png');

      @include rem-screen-1(margin-left, (1116px / -2) + 50px);
      @include rem-screen-1(margin-top, scale-screen-1(1056px / -2));
      @include rem-screen-1(height, scale-screen-1(1056px));
      @include rem-screen-1(width, scale-screen-1(1116px));
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-1
----------------------------------------------------------------------------------------------------------------------*/
