/*----------------------------------------------------------------------------------------------------------------------
    slide-9
----------------------------------------------------------------------------------------------------------------------*/
.slide-9 {
  position: relative;

  background-color: #e4e3df;
  background-image: linear-gradient(to right, #e4e3df 0%, #dddeea 100%);

  @include rem(padding, 70px 0 226px);
  @include rem(min-height, 560px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(70px) 0 scale-screen-1(226px));
    @include rem-screen-1(min-height, scale-screen-1(560px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(70px) 0 scale-screen-2(226px));
    @include rem-screen-2(min-height, scale-screen-2(560px));
  }
}

.slide-9__cake {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;

  background: url('../img/slide-9-cake.png') 50% 100% no-repeat;
  background-size: cover;

  @include rem(margin-left, (1282px / -2));
  @include rem(height, 517px);
  @include rem(width, 1282px);
  @include breakpoint($screen-1) {
    background-image: url('../img/scrn1/slide-9-cake.png');

    @include rem-screen-1(margin-left, scale-screen-1(1282px / -2));
    @include rem-screen-1(height, scale-screen-1(517px));
    @include rem-screen-1(width, scale-screen-1(1282px));
  }
  @include breakpoint($screen-2) {
    background-image: url('../img/scrn2/slide-9-cake.png');

    @include rem-screen-2(margin-left, scale-screen-2(1282px / -2));
    @include rem-screen-2(height, scale-screen-2(517px));
    @include rem-screen-2(width, scale-screen-2(1282px));
  }
}

.slide-9__container {
  position: relative;
  z-index: 2;

  margin: 0 auto;

  @include rem(width, 548px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(548px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(padding, 0 10px);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-9
----------------------------------------------------------------------------------------------------------------------*/
