/*----------------------------------------------------------------------------------------------------------------------
    slide-14
----------------------------------------------------------------------------------------------------------------------*/
.slide-14 {
  background-image: linear-gradient(to top, #efa900 0%, #fed254 100%);

  @extend .slide-13;
}

.slide-14__heading {
  @extend .slide-13__heading;
}

.slide-14__price {
  @extend .slide-13__price;
}

.slide-14__wrapper {
  @extend .slide-13__wrapper;
}

.slide-14__price-item {
  @extend .slide-13__price-item;
  @include rem(width, 610px);
  @include breakpoint($screen-2) {
    width: auto;
  }
}

.slide-14__nav {
  @extend .slide-13__nav;
}

.slide-14__nav-item {
  @extend .slide-13__nav-item;
  @include rem(width, 241px);
  @include rem(margin-right, 15px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(241px));
  }
  @include breakpoint($screen-2) {
    width: 25%;
    margin-right: auto;
  }

  .tab {
    @include breakpoint($screen-2) {
      padding: .65rem;
    }
    .tab__h {
      @include breakpoint($screen-2) {
        font-size: 1.5rem;
      }
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-14
----------------------------------------------------------------------------------------------------------------------*/
