/*----------------------------------------------------------------------------------------------------------------------
    slide-5
----------------------------------------------------------------------------------------------------------------------*/
.slide-5 {
  background-color: $color-7;

  @include rem(padding, 100px 0);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(100px) 0);
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(100px) 0);
  }
}

.slide-5__heading {
}

.slide-5__heading_mb_1 {
  @include rem(margin-bottom, 50px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(50px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(50px));
  }
}

.slide-5__heading_mb_2 {
  @include rem(margin-bottom, 27px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(27px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(27px));
  }
}

.slide-5__container {
  text-align: center;

  font-size: 0;
}

.slide-5__container_1 {
  @include rem(margin-bottom, 60px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(60px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(60px));
  }
}

.slide-5__container_2 {
  @include rem(margin-bottom, 80px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(80px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(80px));
  }
}

.slide-5__item {
  display: inline-block;

  @include breakpoint($screen-2) {
    display: block;

    @include rem-screen-2(margin, 0 auto 20px);
  }
  &:last-child {
    margin-right: auto;
  }
}

.slide-5__item_1 {
  vertical-align: top;

  @include rem(margin-right, 70px);
  @include rem(width, 260px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-right, scale-screen-1(70px));
    @include rem-screen-1(width, scale-screen-1(260px));
  }
  @include breakpoint($screen-2) {
    width: auto;
    margin-right: auto;
  }
}

.slide-5__item_2 {
  vertical-align: bottom;

  @include rem(margin-right, 70px);
  @include rem(width, 270px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-right, scale-screen-1(70px));
    @include rem-screen-1(width, scale-screen-1(270px));
  }
  @include breakpoint($screen-2) {
    width: auto;
    margin-right: auto;
  }
}

.slide-5__footer {
  position: relative;
  &:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;

    content: '';

    background-color: $color-1;

    @include rem(margin-top, -1.5px);
    @include rem(height, 3px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(margin-top, scale-screen-1(-1.5px));
      @include rem-screen-1(height, scale-screen-1(3px));
    }
  }
}

.slide-5__hint {
  position: relative;
  z-index: 2;

  margin: 0 auto;

  @include rem(width, 700px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(700px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-1(max-width, 300px);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-5
----------------------------------------------------------------------------------------------------------------------*/
