/*----------------------------------------------------------------------------------------------------------------------
    slide-3
----------------------------------------------------------------------------------------------------------------------*/
.slide-3 {
  background-color: $color-1;

  @include rem(padding, 100px 0);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, scale-screen-1(100px) 0);
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, scale-screen-2(100px) 0);
  }
}

.slide-3__heading {
  @include rem(margin-bottom, 55px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(55px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(55px));
  }
}

.slide-3__container {
  text-align: center;
}

.slide-3__item {
  display: inline-block;

  text-align: left;
  vertical-align: top;

  @include rem(margin-right, 10px);
  @include rem(width, 336px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-right, scale-screen-1(10px));
    @include rem-screen-1(width, scale-screen-1(336px));
  }
  @include breakpoint($screen-2) {
    display: block;
    @include rem-screen-2(margin, 0 auto 20px);
    &:last-child {
      margin-bottom: auto;
    }
  }
  &:last-child {
    margin-right: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-3
----------------------------------------------------------------------------------------------------------------------*/
