/*----------------------------------------------------------------------------------------------------------------------
    slide-13
----------------------------------------------------------------------------------------------------------------------*/
.slide-13 {
  background: url('../img/slide-13-bg.jpg') 50% 50% no-repeat;
  background-size: cover;

  @extend .slide-8;
}

.slide-13__heading {
  @include rem(margin-bottom, 70px);
  @extend .slide-8__heading;
}

.slide-13__price {
  text-align: center;

  font-size: 0;

  @include rem(margin-bottom, 80px);
  @include rem(margin-top, -48px);
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, 40px);
  }
}

.slide-13__wrapper {
  margin: 0 auto;

  @extend .slide-8__wrapper;
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(1010px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(padding, 0 10px);
  }
  @include rem(width, 1010px);
}

.slide-13__price-item {
  display: inline-block;
  vertical-align: top;

  @include rem(width, 237px);
  @include rem(margin, -20px 5px 0);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(309px));
    @include rem(margin-right, scale-screen-1(30px));
  }
  @include breakpoint($screen-2) {
    display: block;

    width: auto;
    margin-right: auto;

    @include rem-screen-2(margin-bottom, 15px);
  }
}

.slide-13__nav {
  @extend .slide-8__nav;
}

.slide-13__nav-item {
  @extend .slide-8__nav-item;
  @include rem(width, 485px);
  @include rem(margin-right, 40px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(485px));
    @include rem(margin-right, scale-screen-1(40px));
  }
  @include breakpoint($screen-2) {
    width: 50%;
    margin-right: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-13
----------------------------------------------------------------------------------------------------------------------*/
