/*----------------------------------------------------------------------------------------------------------------------
    slide-4
----------------------------------------------------------------------------------------------------------------------*/
$slide-4-sousage-width: 1317px;
$slide-4-sousage-offset: -1050px;

.slide-4 {
  overflow: hidden;

  background-color: #e5e5e2;
  background-image: linear-gradient(to top, #c7c9c9 0%, #e5e5e2 53%, #abafae 100%);
  .container {
    position: relative;

    @include rem(padding, 90px 0 130px);
    @include breakpoint($screen-1) {
      @include rem-screen-1(padding, scale-screen-1(90px) 0 scale-screen-1(130px));
    }
    @include breakpoint($screen-2) {
      @include rem-screen-2(padding, scale-screen-2(90px) 0 scale-screen-2(130px));
    }
  }
}

.slide-4__sousage {
  position: absolute;
  z-index: 1;

  transition: all 1s;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include rem(height, 1639px);
  @include rem(width, $slide-4-sousage-width);
  @include breakpoint($screen-1) {
    @include rem-screen-1(height, scale-screen-1(1639px));
    @include rem-screen-1(width, scale-screen-1($slide-4-sousage-width));
  }
  @include breakpoint($screen-2) {
    //@include rem-screen-2(height, scale-screen-2(1639px));
    display: none;
  }
  &.animated {
    transform: translate3d(0, 0, 0);
  }
}

.slide-4__sousage_left {
  transform: translate3d(($slide-4-sousage-width + $slide-4-sousage-offset) * -1, 0, 0);
  transform: translate3d(to-rem($slide-4-sousage-width + $slide-4-sousage-offset, 16px) * -1, 0, 0);

  background-image: url('../img/slide-4-sousage.png');

  @include rem(bottom, -398px);
  @include rem(left, $slide-4-sousage-offset);
  @include breakpoint($screen-1) {
    transform: translate3d(($slide-4-sousage-width + $slide-4-sousage-offset) * $screen-scale-1 * .1 * -1, 0, 0);
    transform: translate3d(to-rem($slide-4-sousage-width + $slide-4-sousage-offset, 10.72px) * .1 * -1, 0, 0);

    background-image: url('../img/scrn1/slide-4-sousage.png');

    @include rem-screen-1(bottom, scale-screen-1(-398px));
    @include rem-screen-1(left, scale-screen-1($slide-4-sousage-offset));
  }
  //@include breakpoint($screen-2) {
  //  @include rem-screen-2(bottom, scale-screen-2(-398px));
  //  @include rem-screen-2(left, scale-screen-2($slide-4-sousage-offset));
  //}
}

.slide-4__sousage_right {
  transform: translate3d(($slide-4-sousage-width + $slide-4-sousage-offset), 0, 0);
  transform: translate3d(to-rem($slide-4-sousage-width + $slide-4-sousage-offset, 16px), 0, 0);

  background-image: url('../img/slide-4-sousage.png');

  @include rem(right, $slide-4-sousage-offset);
  @include rem(bottom, -367px);
  @include breakpoint($screen-1) {
    transform: translate3d(($slide-4-sousage-width + $slide-4-sousage-offset) * $screen-scale-1 * .1, 0, 0);
    transform: translate3d(to-rem($slide-4-sousage-width + $slide-4-sousage-offset, 10.72px) * .1, 0, 0);

    background-image: url('../img/scrn1/slide-4-sousage.png');

    @include rem-screen-1(right, scale-screen-1($slide-4-sousage-offset));
    @include rem-screen-1(bottom, scale-screen-1(-367px));
  }
  //@include breakpoint($screen-2) {
  //  @include rem-screen-2(right, scale-screen-2($slide-4-sousage-offset));
  //  @include rem-screen-2(bottom, scale-screen-2(-367px));
  //}
}

.slide-4__wrapper {
  position: relative;
  z-index: 2;
}

.slide-4__heading {
  @include rem(margin-bottom, 35px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(35px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(35px));
  }
}

.slide-4__container {
  margin: 0 auto;

  @include rem(width, 897px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(897px));
  }
  @include breakpoint($screen-2) {
    width: auto;

    @include rem-screen-2(padding, 0 10px);
  }
}

.slide-4__tables {
  @include rem(margin-bottom, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-bottom, scale-screen-1(16px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(margin-bottom, scale-screen-2(16px));
  }
}

.slide-4__colnames {
  font-size: 0;
}

.slide-4__colname {
  display: inline-block;

  width: 33.33%;

  @include breakpoint($screen-2) {
    display: block;

    width: auto;

    @include rem-screen-2(margin-top, 30px);
  }
}

.slide-4__colname_desktop {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.slide-4__colname_mobile {
  display: none;

  @include breakpoint($screen-2) {
    display: block;
  }
}

.slide-4__item {
  display: block;

  @include rem(font-size, 16px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(18px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(font-size, 14px);
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.slide-4__item-h {
  display: block;

  text-align: center;

  font-weight: 700;
}

.slide-4__item-text {
  display: block;

  text-align: center;
}

.slide-4__item-button {
  text-align: center;
}

.slide-4__hint {
  padding: 0 .8em;

  @include rem(font-size, 18px);
  @include rem(margin-bottom, 50px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(18px));
    @include rem-screen-1(margin-bottom, scale-screen-1(50px));
  }
}

.slide-4__hint-heading {
  display: block;

  margin: .35em 0;

  font-weight: 700;

  @include rem(font-size, 26px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(26px));
  }
}

.slide-4__button {
  text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-4
----------------------------------------------------------------------------------------------------------------------*/
