/*----------------------------------------------------------------------------------------------------------------------
    slide-11
----------------------------------------------------------------------------------------------------------------------*/
.slide-11 {
  background-color: #3a3a3a;
  background-image: radial-gradient(circle 931px, #3a3a3a 0%, #0e100f 100%);

  @include rem(min-height, 480px);
  @include rem(padding, 110px 0 75px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(min-height, scale-screen-1(480px));
    @include rem-screen-1(padding, scale-screen-1(110px) 0 scale-screen-1(75px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(min-height, scale-screen-2(480px));
    @include rem-screen-2(padding, scale-screen-2(110px) 0 scale-screen-2(75px));
  }
}

.slide-11__container {
  @include rem(padding, 0 50px 0 255px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(padding, 0 scale-screen-1(50px) 0 scale-screen-1(255px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(padding, 0 10px 0 10px);
  }
}

.slide-11__heading {
  display: block;

  text-transform: uppercase;

  color: $color-5;

  font-weight: 700;

  @include rem(font-size, 50px);
  @include rem(margin-bottom, 35px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(50px));
    @include rem-screen-1(margin-bottom, scale-screen-1(35px));
  }
  @include breakpoint($screen-2) {
    text-align: center;

    @include rem-screen-2(font-size, scale-screen-2(50px));
    @include rem-screen-2(margin-bottom, scale-screen-2(35px));
  }
}

.slide-11__text {
  text-transform: uppercase;

  color: $color-5;

  @include rem(font-size, 38px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(font-size, scale-screen-1(38px));
  }
  @include breakpoint($screen-2) {
    text-align: center;

    @include rem-screen-2(font-size, scale-screen-2(38px));
  }
  a {
    text-decoration: none;

    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  .blue {
    color: $color-3;
  }
}

.slide-11__item {
  margin-bottom: .5em;

  &_small {
    font-size: 24px;
  }
}

.slide-11__button {
  display: inline-block;

  margin-left: .25em;

  vertical-align: middle;

  @include rem(margin-top, -10px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(margin-top, scale-screen-1(-10px));
  }
  @include breakpoint($screen-2) {
    display: block;

    margin-left: auto;

    text-align: center;

    @include rem-screen-2(margin-top, 10px);
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-11
----------------------------------------------------------------------------------------------------------------------*/
