.cookie-message.js-cookie-message
  .cookie-message__container.container
    .cookie-message__message
      | На этом веб-сайте используются файлы cookie, которые обеспечивают работу всех функций для наиболее эффективной навигации по странице. Если вы не хотите принимать постоянные файлы cookie, пожалуйста, выберите соответствующие настройки на своем компьютере. Продолжая навигацию по сайту, вы косвенно предоставляете свое согласие на использование файлов cookie на этом веб-сайте. Более подробная информация предоставляется в нашей #[a.js-popup__opener(href='#popup-policy') Политике использования файлов сookie.]
    .cookie-message__button
      button.button.js-cookie-message-close Я согласен