include ../base/mixins/button-card

header.header
  .header__item.header__item_aling_left
    .brand
      a.brand__logo(href='./')
  check(if='{{ @blocks[\'action\'][\'enable\'] == 1 }}')
    .header__item.header__item_aling_center
      .button-card.button-card_color_red
        span.button-card__action акция
        .button-card__heading
          span.button-card__h {{ @blocks['action']['header'] | raw }}
          span.button-card__subh {{ @blocks['action']['price'] | raw }}
        .button-card__button
          a.button.button_color_red.button_text-color_white.js-popup__opener(href='#popup-header-action') Заказать рацион
        .button-card__button
          a.button.button_color_red.button_text-color_white(href='https://vk.com/clubfilvkusa') Акции узнать больше
  .header__item.header__item_aling_right
    .header__addr Санкт — Петербург
      a.header__phone(href='tel:+78129035923') +7 (812) 903-59-23
      a.header__mail(href='mailto:fil.vkusa@yandex.ru') fil.vkusa@yandex.ru
    .header__addr-button
      a.button.button_size_1.button_color_blue.button_text_alt.js-popup__opener(href='#popup-header') заказать звонок
    .header__social
      ul
        li
          a.header__social-item.header__social-item_vkontakte(href='https://vk.com/clubfilvkusa' target='_blank') Вконтакте
        li
          a.header__social-item.header__social-item_instagram(href='https://www.instagram.com/filosofiyvkusa/' target='_blank') Instagram
        li
          a.header__social-item.header__social-item_facebook(href='https://www.facebook.com/filosofiyvkusa' target='_blank') Facebook