.popup#popup-thanks
  .popup__close.js-popup__close
  .popup__container
    .form
      .form__container
        .form__heading
          span.form__h Спасибо!
          span.form__subh Скоро наш менеджер перезвонит Вам

.popup#popup-error
  .popup__close.js-popup__close
  .popup__container
    .form
      .form__container
        .form__heading
          span.form__h Ошибка!
          span.form__subh Пожалуйста попробуйте отправить заявку еще раз.
