html {
  color: $color-1;

  font: 300 100%/1.2 $font-1;

  @include breakpoint($screen-1) {
    font-size: scale-screen-1(100%);
  }
}

body {
  background-color: $color-5;
}

input, button, textarea, a {
  outline: none;
}
