/*----------------------------------------------------------------------------------------------------------------------
    Layout styles
----------------------------------------------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;

  width: 100%;
}

.container {
  margin: 0 auto;

  @include rem(width, 1037px);
  @include breakpoint($screen-1) {
    @include rem-screen-1(width, scale-screen-1(1037px));
  }
  @include breakpoint($screen-2) {
    @include rem-screen-2(width, 320px);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /Layout styles
----------------------------------------------------------------------------------------------------------------------*/
