extends ../base/base

include ../base/mixins/tab
include ../base/mixins/admin-popup
include ../base/mixins/admin-popup-block
include ../base/mixins/button-card

block variables
  -
    var title = 'Панель администратирования - Философия вкуса'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'Панель администратирования - Философия вкуса';
    var keywords = 'Панель администратирования - Философия вкуса';

block body
  main.admin
    .slide-4
      .container(style='min-height: 100vh;')
        .admin__section
          .slide-7__container
            .slide-7__item
              +button-card('{{ @blocks[\'action\'][\'header\'] | raw }}', '{{ @blocks[\'action\'][\'price\'] | raw }}', 'button_color_red', '#popup-slide-7-3', false, true).button-card_color_red
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-action-edit') Редактировать
            .slide-7__item
              +button-card('{{ @blocks[\'premium1\'][\'header\'] | raw }}', '{{ @blocks[\'premium1\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-7-1').button-card_color_yellow
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-premium1-edit') Редактировать
            .slide-7__item
              +button-card('{{ @blocks[\'premium2\'][\'header\'] | raw }}', '{{ @blocks[\'premium2\'][\'price\'] | raw }}', 'button_color_blue', '#popup-slide-7-2').button-card_color_blue
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-premium2-edit') Редактировать
        .admin__section
          .slide-13__price
            .slide-13__price-item
              +button-card('{{ @blocks[\'ration1\'][\'header\'] | raw }}', '{{ @blocks[\'ration1\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-1').button-card_size_1.button-card_color_yellow.button-card_background_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-ration1-edit') Редактировать
            .slide-13__price-item
              +button-card('{{ @blocks[\'ration2\'][\'header\'] | raw }}', '{{ @blocks[\'ration2\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-2').button-card_size_1.button-card_color_yellow.button-card_background_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-ration2-edit') Редактировать
            .slide-13__price-item
              +button-card('{{ @blocks[\'ration3\'][\'header\'] | raw }}', '{{ @blocks[\'ration3\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-3').button-card_size_1.button-card_color_yellow.button-card_background_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-ration3-edit') Редактировать
            .slide-13__price-item
              +button-card('{{ @blocks[\'ration4\'][\'header\'] | raw }}', '{{ @blocks[\'ration4\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-4').button-card_size_1.button-card_color_yellow.button-card_background_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-ration4-edit') Редактировать
            .slide-13__price-item
              +button-card('{{ @blocks[\'ration5\'][\'header\'] | raw }}', '{{ @blocks[\'ration5\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-3').button-card_size_1.button-card_color_yellow.button-card_background_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-ration5-edit') Редактировать
            .slide-13__price-item
              +button-card('{{ @blocks[\'ration6\'][\'header\'] | raw }}', '{{ @blocks[\'ration6\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-4').button-card_size_1.button-card_color_yellow.button-card_background_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-ration6-edit') Редактировать
        .admin__section
          .slide-14__price
            .slide-14__price-item
              +button-card('{{ @blocks[\'unloading\'][\'header\'] | raw }}', '{{ @blocks[\'unloading\'][\'price\'] | raw }}', 'button_color_red', '#popup-slide-14-1').button-card_color_white
              .admin__button
                a.button.button_color_blue.js-popup__opener(href='#popup-unloading-edit') Редактировать
  .popup__hide
    //- Попап редактирования акции
    +admin-popup-block('action')
    +admin-popup-block('premium1')
    +admin-popup-block('premium2')
    +admin-popup-block('ration1')
    +admin-popup-block('ration2')
    +admin-popup-block('ration3')
    +admin-popup-block('ration4')
    +admin-popup-block('ration5')
    +admin-popup-block('ration6')
    +admin-popup-block('unloading')
