extends ../base/base

include ../base/mixins/popup

block variables
  -
    var title = 'Философия вкуса'
    var author = 'Философия вкуса';
    var description = 'Философия вкуса: Здоровая еда - каждый день. Здоровое питание по индивидуальной программе. Ежедневная доставка свежего, сбалансированного рациона.';
    var keywords = 'Философия вкуса Здоровая еда - каждый день';

block body
  main
    .wrapper#top
      include ../blocks/slides/slide-1
      include ../blocks/slides/slide-2
      include ../blocks/slides/slide-3
      include ../blocks/slides/slide-5
      include ../blocks/slides/slide-6
      include ../blocks/slides/slide-7
      #6-razovoe-pitanie
      include ../blocks/slides/slide-8
      include ../blocks/slides/slide-13
      include ../blocks/slides/slide-14
      include ../blocks/slides/slide-10
      include ../blocks/slides/slide-11
      include ../blocks/slides/slide-12
      include ../blocks/cookie-message
      .popup__hide
        +popup('Заказать звонок', 'Кнопка &quot;Заказать звонок&quot; в шапке')#popup-header
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион&quot; в блоке с акцией в шапке')#popup-header-action
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион&quot; в блоке &quot;Как это работает&quot;')#popup-slide-2
        +popup('Заказать обед', 'Кнопка &quot;Заказать обед&quot; в блоке &quot;Сбалансированный обед в офис&quot;')#popup-slide-4
        +popup('Заказать звонок', 'Кнопка &quot;Заказать звонок&quot; в блоке &quot;Заказать индивидуальный рацион — просто&quot;')#popup-slide-6-1
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион&quot; в блоке &quot;Заказать индивидуальный рацион — просто&quot;')#popup-slide-6-2
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион - Полный день&quot; в блоке &quot;Стоимость индивидуального рациона:&quot;')#popup-slide-7-1
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион - от 10-ти дней&quot; в блоке &quot;Стоимость индивидуального рациона:&quot;')#popup-slide-7-2
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион - Акция&quot; в блоке &quot;Стоимость индивидуального рациона:&quot;')#popup-slide-7-3
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион&quot; в блоке &quot;Пример шести разового рациона питания&quot;')#popup-slide-8
        +popup('Заказать рацион', 'Кнопка &quot;Заказать рацион&quot; в блоке &quot;Доступны к заказу Торты и Пирожные по технологии Диеты Дюкана&quot;')#popup-slide-9
        +popup('Заказать здоровое питание', 'Кнопка &quot;Заказать здоровое питание&quot; в блоке &quot;КРАСОТА И ЗДОРОВЬЕ НАЧИНАЮТСЯ С ПРАВИЛЬНОГО ПИТАНИЯ&quot;')#popup-slide-10
        +popup('Заказать звонок', 'Кнопка &quot;Заказать звонок&quot; в блоке &quot;ОСТАЛИСЬ ВОПРОСЫ?&quot;')#popup-slide-11
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - низ&quot; в блоке &quot;ПРИМЕР 5-ТИ РАЗОВОГО РАЦИОНА SPORT&quot;')#popup-slide-13
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - Sport LIGHT один день&quot; в блоке &quot;ПРИМЕР 5-ТИ РАЗОВОГО РАЦИОНА SPORT&quot;')#popup-slide-13-1
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - Sport LIGHT от 10-ти дней&quot; в блоке &quot;ПРИМЕР 5-ТИ РАЗОВОГО РАЦИОНА SPORT&quot;')#popup-slide-13-2
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - Sport HARD один день&quot; в блоке &quot;ПРИМЕР 5-ТИ РАЗОВОГО РАЦИОНА SPORT&quot;')#popup-slide-13-3
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - Sport HARD от 10-ти дней&quot; в блоке &quot;ПРИМЕР 5-ТИ РАЗОВОГО РАЦИОНА SPORT&quot;')#popup-slide-13-4
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - один день&quot; в блоке &quot;ПРОГРАММА Разгрузка&quot;')#popup-slide-14-1
        +popup('Заказать звонок', 'Кнопка &quot;Заказать рацион - низ&quot; в блоке &quot;ПРОГРАММА Разгрузка&quot;')#popup-slide-14-2
        include ../blocks/popup-notification
        .popup.popup_text#popup-policy
          .popup__close.js-popup__close
          .popup__container
            .popup__header Условиями обработки и хранения моих персональных данных
            | Наша компания уважительно относится к правам клиента. Соблюдается строгая конфиденциальность при отправке заявки. Сведения надёжно сохраняются и защищены от передачи. Согласием на обработку данных клиента исключительно с целью оказания услуг является оформление заявки на сайте. К персональным данным относится личная информация о клиенте: домашний адрес; имя, фамилия, отчество; сведения о рождении; имущественное, семейное положение; личные контакты (телефон,лектронная а) и прочие сведения, которые перечислены в Законе РФ № 152-ФЗ «О персональных данных» от 27 июля 2006 г. Клиент вправе отказаться от обработки персональных данных. Нами в данном случае гарантируется удаление с сайта всех персональных данных в трёхдневный срок в рабочее время. Подобный отказлиент т оформить простым электронным письмом на адрес, указанный на странице нашего сайта.
      a.top-button.js-top-button.js-scroll-to(href='#top') Наверх
