extends ../base/base

block variables
  -
    var title = 'Вход - Философия вкуса'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'Вход - Философия вкуса';
    var keywords = 'Вход - Философия вкуса';

block body
  main.auth
    .auth__container
      .auth__centered
        .auth__form
          form.form.form_background_none.form_vingette_none(method='POST', action='auth')
            .form__container
              .form__heading
                span.form__h Вход
                span.form__subh Введите логин и пароль для доступа к панели администратирования
              form.form__form
                if formName
                  input(type='hidden', value=formName)
                input(type='text', name='username', placeholder='Логин_').form__input
                input(type='password', name='password', placeholder='Пароль_').form__input
                .form__button
                  button.button.button_color_blue.button_size_1 Войти
