extends ../base/base

block variables
  -
    var title = 'UI Kit'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'UI Kit';
    var keywords = 'UI Kit';

block body
  main.uikit
    section.uikit__section
      .container
        .uikit__heading
          .heading.heading_align_left
            span.heading__h Заголовки
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Стандартный вид
        .uikit__example
          .heading
            span.heading__h Сбалансированный #[b обед] в офис
            span.heading__subh Стоимость 3-х блюд - #[b 250 руб.]
            span.heading__subsubh Калорийность и БЖУ рассчитаны на 100 грамм блюда. #[b Меню на 00.00.00]
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Выравнивание по левому краю
        .uikit__example
          .heading.heading_align_left
            span.heading__h Сбалансированный #[b обед] в офис
            span.heading__subh Стоимость 3-х блюд - #[b 250 руб.]
            span.heading__subsubh Калорийность и БЖУ рассчитаны на 100 грамм блюда. #[b Меню на 00.00.00]
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Цвета
        .uikit__example.uikit__example_bg_dark
          .heading.heading_color_blue
            span.heading__h Сбалансированный #[b обед] в офис
            span.heading__subh Стоимость 3-х блюд - #[b 250 руб.]
        .uikit__example.uikit__example_bg_dark
          .heading.heading_color_orange
            span.heading__h Сбалансированный #[b обед] в офис
            span.heading__subh Стоимость 3-х блюд - #[b 250 руб.]
        .uikit__example.uikit__example_bg_dark
          .heading.heading_color_white
            span.heading__h Сбалансированный #[b обед] в офис
            span.heading__subh Стоимость 3-х блюд - #[b 250 руб.]
    section.uikit__section
      .container
        .uikit__heading
          .heading.heading_align_left
            span.heading__h Кнопки
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Стандартный вид
        .uikit__example
          span.button сбалансированный обед в офис
        .uikit__example
          span.button Заказать обед
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Без фона
        .uikit__example.uikit__example_bg_dark
          span.button.button_background_none Заказать обед
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Размер поменьше
        .uikit__example
          span.button.button_size_1 Заказать обед
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Альтернативный цвет текста
        .uikit__example.uikit__example_bg_dark
          span.button.button_text_alt Заказать обед
        .uikit__comments
          .heading.heading_align_left
            span.heading__subh Цвета
        .uikit__example
          span.button.button_color_yellow Желтый
        .uikit__example
          span.button.button_color_blue Синий
        .uikit__example
          span.button Красный (стандартный)