@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function to-rem($value, $font-size) {
  @return $value / $font-size + 0rem;
}

@mixin rem-generator($property, $values, $base-fontsize) {
  $px: ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == 'px' {
        $px: append($px, $value);
        $rem: append($rem, ($val / $base-fontsize + rem));
      }

      @if $unit == 'rem' {
        $px: append($px, ($val * $base-fontsize + px));
        $rem: append($rem, $value);
      }

      @if $unit == 'em' {
        $px: append($px, $value);
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@mixin rem($property, $values) {
  @include rem-generator($property, $values, 16);
}

@mixin rem-screen-1($property, $values) {
  @include rem-generator($property, $values, 10.72);
}

@mixin rem-screen-2($property, $values) {
  @include rem-generator($property, $values, 10.72);
}