block variables

doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    title #{title}
    meta(content!=author name="author")
    meta(content!=description name="description")
    meta(content!=keywords name="keywords")

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='imagetoolbar' content='no')
    meta(name='msthemecompatible' content='no')
    meta(name='cleartype' content='on')
    meta(name='HandheldFriendly' content='True')

    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='address=no')

    //- Favicon
    link(rel='apple-touch-icon', sizes='180x180', href='assets/img/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='assets/img/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='assets/img/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='manifest.json')
    link(rel='mask-icon', href='assets/img/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    meta(name='msapplication-config', content='browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    //- Styles
    link(rel='stylesheet' href='assets/css/foundation.css' inline)
    link(rel='stylesheet' href='assets/css/app.css' inline)

    //- Scripts
    script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU' defer)
    script(src='assets/js/foundation.js' defer)
    script(src='assets/js/app.js' defer)

    //-
      script(src='js/vendor/modernizr-2.8.3.min.js')

    <!--[if lt IE 9]>
    script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->
  body
    <!--[if lt IE 9]>
    p.browserupgrade Вы используете #[strong устаревший] браузер. Пожалуйста #[a(href='http://browsehappy.com/') обновите свой браузер].
    <![endif]-->

    block body

    | <!-- Yandex.Metrika counter -->
    | <script type="text/javascript">
    |     (function (d, w, c) {
    |         (w[c] = w[c] || []).push(function() {
    |             try {
    |                 w.yaCounter41087964 = new Ya.Metrika({
    |                     id:41087964,
    |                     clickmap:true,
    |                     trackLinks:true,
    |                     accurateTrackBounce:true,
    |                     webvisor:true
    |                 });
    |             } catch(e) { }
    |         });
    |         var n = d.getElementsByTagName("script")[0],
    |             s = d.createElement("script"),
    |             f = function () { n.parentNode.insertBefore(s, n); };
    |         s.type = "text/javascript";
    |         s.async = true;
    |         s.src = "https://mc.yandex.ru/metrika/watch.js";
    |         if (w.opera == "[object Opera]") {
    |             d.addEventListener("DOMContentLoaded", f, false);
    |         } else { f(); }
    |     })(document, window, "yandex_metrika_callbacks");
    | </script>
    | <noscript><div><img src="https://mc.yandex.ru/watch/41087964" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    | <!-- /Yandex.Metrika counter -->

    | <script>
    |   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    |   ga('create', 'UA-90139724-1', 'auto');
    |   ga('send', 'pageview');
    | </script>