include ../../base/mixins/button-card

.slide-7
  .container
    .slide-7__wrapper
      .slide-7__heading
        .heading
          span.heading__h Стоимость индивидуального рациона &laquo;Философия Вкуса&raquo;:
      .slide-7__container
        check(if='{{ @blocks[\'action\'][\'enable\'] == 1 }}')
          .slide-7__item
            +button-card('{{ @blocks[\'action\'][\'header\'] | raw }}', '{{ @blocks[\'action\'][\'price\'] | raw }}', 'button_color_red', '#popup-slide-7-3', false, true).button-card_color_red
        check(if='{{ @blocks[\'premium1\'][\'enable\'] == 1 }}')
          .slide-7__item
            +button-card('{{ @blocks[\'premium1\'][\'header\'] | raw }}', '{{ @blocks[\'premium1\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-7-1').button-card_color_yellow
        check(if='{{ @blocks[\'premium2\'][\'enable\'] == 1 }}')
          .slide-7__item
            +button-card('{{ @blocks[\'premium2\'][\'header\'] | raw }}', '{{ @blocks[\'premium2\'][\'price\'] | raw }}', 'button_color_blue', '#popup-slide-7-2').button-card_color_blue
      span.slide-7__hint Доставка за пределы КАД рассчитывается оператором
    .slide-7__girl