.slide-10
  img.slide-10__image(src='assets/img/slide-10-bg.jpg')
  .slide-10__content
    .slide-10__align
      .slide-10__button
        a.button.button_background_none.js-popup__opener(href='#popup-slide-10') Заказать здоровое питание