.slide-14#programma-reduce
  .container
    .slide-14__wrapper
      .slide-14__heading
        .heading
          span.heading__h Программа Разгрузка
          span.heading__subsubh Рассчитывается индивидуально нашим специалистом исходя из Ваших целей и особенностей организма
      .slide-14__price
        check(if='{{ @blocks[\'unloading\'][\'enable\'] == 1 }}')
          .slide-14__price-item
            +button-card('{{ @blocks[\'unloading\'][\'header\'] | raw }}', '{{ @blocks[\'unloading\'][\'price\'] | raw }}', 'button_color_red', '#popup-slide-14-1').button-card_color_white
      .js-tabs
        .slide-14__nav
          .slide-14__nav-item
            +tab('Пример <b>№1</b>', '#reduce-primer-1', '#reduce-primer-1').tab_type_2.tab_color_blue.tab_color_grey.tab_weight_normal.js-tabs__button.active
          .slide-14__nav-item
            +tab('Пример <b>№2</b>', '#reduce-primer-2', '#reduce-primer-2').tab_type_2.tab_color_red.tab_color_grey.tab_weight_normal.js-tabs__button
          .slide-14__nav-item
            +tab('Пример <b>№3</b>', '#reduce-primer-3', '#reduce-primer-3').tab_type_2.tab_color_red.tab_color_grey.tab_weight_normal.js-tabs__button
          .slide-14__nav-item
            +tab('Пример <b>№4</b>', '#reduce-primer-4', '#reduce-primer-4').tab_type_2.tab_color_red.tab_color_grey.tab_weight_normal.js-tabs__button
        .slide-8__tab.js-tabs__tab#reduce-primer-1.active
          table.gender-table.gender-table_color_grey
            tr
              td
                .gender-table__description программа питания на основе овощных и фруктовых смузи и фрешей, кремов и салатов, предназначена для выведения из организма накопившихся вредных веществ, благодаря чему уходят лишние килограммы, улучшается цвет лица и состояние кожи.
            tr
              td
                span.gender-table__heading 800-1100 ккал.
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Коктейль малина + вишня + кокос. молоко + мед
                .gender-table__item
                  .gender-table__item-heading Фрэш свежевыжатый
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Творожный крем с ягодами сезонными
                .gender-table__item
                  .gender-table__item-heading Смузи яблоко + лайм + огурец
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи морковь + апельсин + имбирь
                .gender-table__item
                  .gender-table__item-heading Творог рассыпчатый с йогуртом + фруктоза
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи тыква + мелиса + лимон
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи авокадо + банан + черника + огурец + корица
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Кефир с отрубями
        //- /.slide-8__tab.js-tabs__tab
        .slide-8__tab.js-tabs__tab#reduce-primer-2
          table.gender-table.gender-table_color_grey
            tr
              td
                .gender-table__description программа питания на основе овощных и фруктовых смузи и фрешей, кремов и салатов, предназначена для выведения из организма накопившихся вредных веществ, благодаря чему уходят лишние килограммы, улучшается цвет лица и состояние кожи.
            tr
              td
                span.gender-table__heading 800-1100 ккал.
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Коктейль клюква + сельдерей + огурец + яблоко + груша + шпинат
                .gender-table__item
                  .gender-table__item-heading Фрэш свежевыжатый
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Творог с отрубями и клюквенным пюре
                .gender-table__item
                  .gender-table__item-heading Кусочки фруктов (сезонные)
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи апельсин + морковь + папайя
                .gender-table__item
                  .gender-table__item-heading Каша овсяная с творогом и ягодами
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи киви + огурец + ананас + лимон
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи авокадо + капуста + шпинат + перец
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Творог с бананом и йогуртом
        //- /.slide-8__tab.js-tabs__tab
        .slide-8__tab.js-tabs__tab#reduce-primer-3
          table.gender-table.gender-table_color_grey
            tr
              td
                .gender-table__description программа питания на основе овощных и фруктовых смузи и фрешей, кремов и салатов, предназначена для выведения из организма накопившихся вредных веществ, благодаря чему уходят лишние килограммы, улучшается цвет лица и состояние кожи.
            tr
              td
                span.gender-table__heading 800-1100 ккал.
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Коктейль капуста + манго + сельдерей + апельсин + кокос. молоко + мята
                .gender-table__item
                  .gender-table__item-heading Фрэш свежевыжатый
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт с ягодами
                .gender-table__item
                  .gender-table__item-heading Кусочки фруктов (сезонные)
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи маракуйя + апельсин + перец + томат
                .gender-table__item
                  .gender-table__item-heading Творог взбитый с печеной грушей(яблоком) и кокос.молоком
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи сельдерей + яблоко + отруби + йогурт
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи манго + имбирь + мята + авокадо
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт
        //- /.slide-8__tab.js-tabs__tab
        .slide-8__tab.js-tabs__tab#reduce-primer-4
          table.gender-table.gender-table_color_grey
            tr
              td
                .gender-table__description программа питания на основе овощных и фруктовых смузи и фрешей, кремов и салатов, предназначена для выведения из организма накопившихся вредных веществ, благодаря чему уходят лишние килограммы, улучшается цвет лица и состояние кожи.
            tr
              td
                span.gender-table__heading 800-1100 ккал.
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Коктейль свекла + морковь + редька + петрушка
                .gender-table__item
                  .gender-table__item-heading Фрэш свежевыжатый
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Утро 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи шпинат + киви + банан
                .gender-table__item
                  .gender-table__item-heading Орехи ассорти
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи броколли + яблоко + лайм
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи яблоко + морковь + банан + кокос. молоко
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи дыня + апельсин + лайм + клубника
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Крем из банан + дыня + ананас
        //- /.slide-8__tab.js-tabs__tab
      .slide-8__button
        a.button.js-popup__opener(href='#popup-slide-14-2') Заказать рацион
