include ../../base/mixins/gender-card
include ../../base/mixins/icon-card

.slide-5
  .container
    .slide-5__heading.slide-5__heading_mb_1
      .heading
        span.heading__h Рацион &laquo;Философия Вкуса&raquo; индивидуальный
        span.heading__subh Основные программы
    .slide-5__container.slide-5__container_1
      .slide-5__item.slide-5__item_1
        +gender-card('От 1100 до 1400 ккал.', null, '#6-razovoe-pitanie', '#racion-light')
      .slide-5__item.slide-5__item_1
        +gender-card('От 1450 до 2400 ккал.', null, '#6-razovoe-pitanie', '#racion-medium')
      .slide-5__item.slide-5__item_1
        +gender-card('От 2500 до 3000 ккал.', null, '#6-razovoe-pitanie', '#racion-hard', 'Рацион от 3000 ккал - стоимость уточняйте у оператора')
    //- .slide-5__container
    .slide-5__heading.slide-5__heading_mb_2
      .heading
        span.heading__h Три исключения в наших блюдах:
    .slide-5__container.slide-5__container_2
      .slide-5__item.slide-5__item_2
        +icon-card('Майонез:').icon-card_type_2.icon-card_icon_4 Используем растительные жиры
      .slide-5__item.slide-5__item_2
        +icon-card('Сахар:').icon-card_type_2.icon-card_icon_5 используем натуральные сахарозаменители
      .slide-5__item.slide-5__item_2
        +icon-card('соль:').icon-card_type_2.icon-card_icon_6 С высоким содержанием натрия
    //- .slide-5__container
  .slide-5__footer
    .slide-5__hint
      .header-card
        span.header-card__header В отличие от конкурентов
        .header-card__body
          .header-card__text
            ul
              li Мы готовим и доставляем вам свежие блюда каждый день, а не раз в неделю
              li Можете попробовать блюда в нашем дегустационном зале по адресу СПб, Московский проспект 175
