include ../../base/mixins/button-card

.slide-9
  .container
    .slide-9__cake
    .slide-9__container
      +button-card('Доступны к заказу Торты и Пирожные по технологии Диеты Дюкана', '', 'button_color_red button_border-color_white', '#popup-slide-9', 'Заказать десерт').button-card_type_2