.slide-13#5-razovyy-racion-sport
  .container
    .slide-13__wrapper
      .slide-13__heading
        .heading
          span.heading__h пример 5-ти разового рациона &laquo;MorkovkaFit&raquo;
      .slide-13__price
        check(if='{{ @blocks[\'ration1\'][\'enable\'] == 1 }}')
          .slide-13__price-item
            +button-card('{{ @blocks[\'ration1\'][\'header\'] | raw }}', '{{ @blocks[\'ration1\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-1').button-card_size_1.button-card_color_yellow.button-card_background_white
        check(if='{{ @blocks[\'ration2\'][\'enable\'] == 1 }}')
          .slide-13__price-item
            +button-card('{{ @blocks[\'ration2\'][\'header\'] | raw }}', '{{ @blocks[\'ration2\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-2').button-card_size_1.button-card_color_yellow.button-card_background_white
        check(if='{{ @blocks[\'ration3\'][\'enable\'] == 1 }}')
          .slide-13__price-item
            +button-card('{{ @blocks[\'ration3\'][\'header\'] | raw }}', '{{ @blocks[\'ration3\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-3').button-card_size_1.button-card_color_yellow.button-card_background_white
        check(if='{{ @blocks[\'ration4\'][\'enable\'] == 1 }}')
          .slide-13__price-item
            +button-card('{{ @blocks[\'ration4\'][\'header\'] | raw }}', '{{ @blocks[\'ration4\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-4').button-card_size_1.button-card_color_yellow.button-card_background_white
        check(if='{{ @blocks[\'ration5\'][\'enable\'] == 1 }}')
          .slide-13__price-item
            +button-card('{{ @blocks[\'ration5\'][\'header\'] | raw }}', '{{ @blocks[\'ration5\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-3').button-card_size_1.button-card_color_yellow.button-card_background_white
        check(if='{{ @blocks[\'ration6\'][\'enable\'] == 1 }}')
          .slide-13__price-item
            +button-card('{{ @blocks[\'ration6\'][\'header\'] | raw }}', '{{ @blocks[\'ration6\'][\'price\'] | raw }}', 'button_color_yellow', '#popup-slide-13-4').button-card_size_1.button-card_color_yellow.button-card_background_white
      .js-tabs
        .slide-13__nav
          .slide-13__nav-item
            +tab('&laquo;MorkovkaFit&raquo; Light', '#sport-racion-light', '#sport-racion-light').tab_type_2.tab_color_blue.tab_color_grey.js-tabs__button.active
          .slide-13__nav-item
            +tab('&laquo;MorkovkaFit&raquo; Hard', '#sport-racion-hard', '#sport-racion-hard').tab_type_2.tab_color_red.tab_color_grey.js-tabs__button
        .slide-8__tab.js-tabs__tab#sport-racion-light.active
          table.gender-table.gender-table_color_grey
            tr
              td
                .gender-table__description Меню для быстрого снижения массы тела. Является гипокалорийным (меньше рассчитанных энергетических затрат в сутки) сбалансированным питанием, которое рекомендуется специалистами для сжигания жира. Благодаря пониженному количеству углеводов, особенно простых с высоким индексом гликемии, эффект похудения достигается очень быстро. В первой половине дня в рационе преобладает углеводистая пища. Жиры, которые входят в состав меню в основном растительного характера, жиры животного происхождения составляют от 7 до 10 процентов максимум от общего количества жира в блюде.
            tr
              td
                span.gender-table__heading 1100-1400 ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Завтрак 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Каша из булгура с курагой яблоком и тыквой - 250 г
                  .gender-table__item-text БЖУ:	9,75	/	7,75	/	38,75	-	263,75	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Завтрак 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Запеканка творожная с зелёным яблоком и вяленой вишней- 120 г
                  .gender-table__item-text БЖУ:	11,76	/	4,44	/	13,32	-	140,28	ккал
                .gender-table__item
                  .gender-table__item-heading Банановый смузи с клетчаткой и пробиотиком - 200 мл
                  .gender-table__item-text БЖУ:	7,20	/	2,80	/	18,20	-	126,80	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Крем-суп из брокколи - 280 г
                  .gender-table__item-text БЖУ:	3,64	/	6,44	/	8,12	-	105,00	ккал
                .gender-table__item
                  .gender-table__item-heading Зразы куриные со шпинатом и яйцом - 100 г
                  .gender-table__item-text БЖУ:	12,20	/	5,10	/	7,70	-	125,50	ккал
                .gender-table__item
                  .gender-table__item-heading Кус-кус с овощами - 110 г
                  .gender-table__item-text БЖУ:	2,53	/	2,31	/	15,84	-	94,27	ккал
                .gender-table__item
                  .gender-table__item-heading Напиток имбирный - 200 мл
                  .gender-table__item-text БЖУ:	0,20	/	0,00	/	2,00	-	8,80	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Фруктовый салат с кедровыми орешками и кунжутом - 130 г
                  .gender-table__item-text БЖУ:	1,56	/	2,47	/	14,43	-	86,19	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Нежные рыбные котлетки - 100 г
                  .gender-table__item-text БЖУ:	11,80	/	2,40	/	7,20	-	97,60	ккал
                .gender-table__item
                  .gender-table__item-heading Сливочно-свекольный соус - 30 г
                  .gender-table__item-text БЖУ:	0,63	/	3,99	/	1,53	-	44,55	ккал
                .gender-table__item
                  .gender-table__item-heading Рагу из брокколи с овощами - 110 г
                  .gender-table__item-text БЖУ:	1,32	/	2,31	/	7,04	-	54,23	ккал
                .gender-table__item
                  .gender-table__item-heading Напиток облепиховый - 200 мл
                  .gender-table__item-text БЖУ:	0,80	/	0,20	/	2,20	-	13,80	ккал
        //- /.slide-8__tab.js-tabs__tab
        .slide-8__tab.js-tabs__tab#sport-racion-hard
          table.gender-table.gender-table_color_grey
            tr
              td(colspan='2')
                .gender-table__description Меню для эффективного набора веса. Рекомендуется людям весом не менее 70-80 килограмм.#[br]Представляет собой гиперкалорийное сбалансированное питание, выше суточных рассчитанных энергетических затрат и которое рекомендуется для увеличения мышечной массы. Вес эффективно увеличивается благодаря большому количеству в блюдах протеинов (около 25 – 40 грамм), дробной системе питания (от пяти до семи раз в день), а также наличию оптимального количества углеводов, которые могут обеспечить организм необходимой энергией в соотношении к белкам не меньше чем 1:2.
            tr
              td(colspan='2')
                span.gender-table__heading 1450-2400 ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Завтрак 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Каша овсяная с мёдом и орешками - 320 г
                  .gender-table__item-text БЖУ:	11,52	/	10,88	/	48,64	-	338,56	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Завтрак 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Омлет со шпинатом и сыром - 300 г
                  .gender-table__item-text БЖУ:	24,90	/	22,80	/	10,80	-	348,00	ккал
                .gender-table__item
                  .gender-table__item-heading Напиток облепиховый- 200 мл
                  .gender-table__item-text БЖУ:	0,80	/	0,20	/	3,40	-	18,60	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Нежный крем-суп из чечевицы с цыплёнком - 320 г
                  .gender-table__item-text БЖУ:	24,96	/	13,12	/	38,08	-	370,24	ккал
                .gender-table__item
                  .gender-table__item-heading Булочки овсяные - 80 г
                  .gender-table__item-text БЖУ:	6,72	/	3,52	/	38,80	-	213,76	ккал
                .gender-table__item
                  .gender-table__item-heading Куриные котлетки с кабачком - 160 г
                  .gender-table__item-text БЖУ:	18,24	/	6,08	/	10,56	-	169,92	ккал
                .gender-table__item
                  .gender-table__item-heading Соте из овощей - 200 г
                  .gender-table__item-text БЖУ:	3,00	/	6,80	/	18,00	-	145,20	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Ролл с куриной грудкой гриль и зелёным салатом - 160 г
                  .gender-table__item-text БЖУ:	12,96	/	4,80	/	25,76	-	198,08	ккал
            tr
              td
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Зразы рыбные с овощами - 140 г
                  .gender-table__item-text БЖУ:	16,52	/	2,10	/	11,48	-	130,90	ккал
                .gender-table__item
                  .gender-table__item-heading Сливочно-шпинатный соус - 50 г
                  .gender-table__item-text БЖУ:	1,80	/	1,60	/	2,20	-	30,40	ккал
                .gender-table__item
                  .gender-table__item-heading Рис золотистый - 160 г
                  .gender-table__item-text БЖУ:	2,40	/	3,20	/	21,60	-	124,80	ккал
        //- /.slide-8__tab.js-tabs__tab
      .slide-8__button
        a.button.js-popup__opener(href='#popup-slide-8') Заказать рацион
