include ../../base/mixins/icon-card

.slide-2
  .slide-2__lines
  .container
    .slide-2__heading
      .heading
        span.heading__h Как это работает:
    .slide-2__container
      .slide-2__item
        +icon-card.icon-card_icon_1 Мы рассчитываем для Вас программу питания на каждый день индивидуально
      .slide-2__item
        +icon-card.icon-card_icon_2 Мы доставляем  Ваш рацион в удобное для Вас время и место
      .slide-2__item
        +icon-card.icon-card_icon_3 Вы получаете желаемый результат: #[b Здоровье, Сила, Фигура]
    .slide-2__button
      a.button.button_color_yellow.button_text_alt.js-popup__opener(href='#popup-slide-2') заказать рацион