.slide-11
  .container
    .slide-11__container
      span.slide-11__heading Остались вопросы?
      .slide-11__text
        .slide-11__item Звоните: #[a.blue(href='tel:+78129035923') +7 (812) 903-59-23]
          .slide-11__button
            a.button.button_background_none.button_color_blue.button_size_1.js-popup__opener(href='#popup-slide-11') заказать звонок
        .slide-11__item
          a(href='mailto:fil.vkusa@yandex.ru') fil.vkusa@yandex.ru
        .slide-11__item Санкт – Петербург, Московский проспект 175, Философия вкуса
        .slide-11__item.slide-11__item_small Стоимость доставки за пределы КАД уточняйте у оператора.
        .slide-11__item.slide-11__item_small ИП Макарова И.А. ИНН: 780223829874 ОГРН: 312784707600530
        .slide-11__item.slide-11__item_small Информация на сайте не является публичной офертой.
