.slide-1
  .container
    .slide-1__container
      .slide-1__header
        include ../header
      .slide-1__heading
        h1.heading.heading_color_blue.heading_align_left
          span.heading__h Здоровое питание по индивидуальной программе
          span.heading__subh Ежедневная доставка свежего, сбалансированного рациона
      .slide-1__buttons
        .slide-1__button
          a.button.button_background_none.button_border_none.js-scroll-to(href='#6-razovoe-pitanie') Рацион &laquo;Философия Вкуса&raquo; индивидуальный
        .slide-1__button
          a.button.button_background_none.button_border_none.js-scroll-to(href='#5-razovyy-racion-sport') Рацион &laquo;MorkovkaFit&raquo;
        .slide-1__button
          a.button.button_background_none.button_border_none.js-scroll-to(href='#programma-reduce') Программа &laquo;Экспресс-похудение&raquo;
    .slide-1__cook