include ../../base/mixins/tab
.slide-8
  .container
    .js-animate__group
      .slide-8__lemon.slide-8__lemon_left.js-animate__elem
      .slide-8__lemon.slide-8__lemon_right.js-animate__elem
    .slide-8__wrapper
      .slide-8__heading
        .heading.heading_color_white
          span.heading__h Пример индивидуального рациона &laquo;Философия Вкуса&raquo;
          span.heading__subsubh Рассчитывается индивидуально нашим специалистом исходя из Ваших целей и особенностей организма
      .js-tabs
        .slide-8__nav
          .slide-8__nav-item
            +tab('Light', '#racion-light', '#racion-light').tab_type_2.tab_color_blue.js-tabs__button.active
          .slide-8__nav-item
            +tab('Hard', '#racion-hard', '#racion-medium').tab_type_2.tab_color_yellow.js-tabs__button
          .slide-8__nav-item
            +tab('Hard+', '#racion-hard-plus', '#racion-hard').tab_type_2.tab_color_red.js-tabs__button
        .slide-8__tab.js-tabs__tab#racion-light.active
          table.gender-table
            tr
              td(colspan='2')
                .gender-table__description Меню для быстрого снижения массы тела.  Является гипокалорийным (меньше рассчитанных энергетических затрат в сутки) сбалансированным питанием, которое рекомендуется специалистами для сжигания жира. Благодаря пониженному количеству углеводов, особенно простых с высоким индексом гликемии, эффект похудения достигается очень быстро. В первой половине дня в рационе преобладает углеводистая пища. Жиры, которые входят в состав меню в основном растительного характера, жиры животного происхождения составляют от 7 до 10 процентов максимум от общего количества жира в блюде.
            tr
              td(colspan='2')
                span.gender-table__heading 1100-1400 ккал.
            tr
              td
                span.gender-table__heading.gender-table__heading_color_yellow.gender-table__heading_ttu ЖЕНЩИНЫ
              td
                span.gender-table__heading.gender-table__heading_color_yellow.gender-table__heading_ttu МУЖЧИНЫ
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Завтрак
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Каша с фруктами, миндалем и фруктовым пюре
                  .gender-table__item-text 2,82/5,35/10,25 – 98,26 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Каша с фруктами, миндалем и фруктовым пюре
                  .gender-table__item-text 2,82/5,35/10,25 – 98,26 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Завтрак 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Фритта (омлет с овощами)
                  .gender-table__item-text 6,5/6,68/3,69 – 101,36 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Фритта (омлет с овощами) с творогом
                  .gender-table__item-text 7,3/7,05/3,5 – 107,47 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Обед
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Суп Минестроне
                  .gender-table__item-text 1,0/3,4/4,7 – 51,9 ккал
                .gender-table__item
                  .gender-table__item-heading Гратен с грибами и бататом
                  .gender-table__item-text 6,2/8,2/6,8 – 124,4 ккал
                .gender-table__item
                  .gender-table__item-heading Куриная грудка под соусом из клюквы
                  .gender-table__item-text 15,45/0,84/6,5 – 98,74ккал
              td
                .gender-table__item
                  .gender-table__item-heading Суп Минестроне
                  .gender-table__item-text 7,3/7,05/3,5 – 107,47 ккал
                .gender-table__item
                  .gender-table__item-heading Гратен с грибами и бататом
                  .gender-table__item-text 6,2/8,2/6,8 – 124,4 ккал
                .gender-table__item
                  .gender-table__item-heading Куриная грудка с сыром моцарелла под соусом из клюквы
                  .gender-table__item-text 16,8/4,97/1,68 – 113,14 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи киви-огурец
                  .gender-table__item-text 2,25/1,13/6,34 - 45,72 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Смузи киви-огурец
                  .gender-table__item-text 2,25/1,13/6,34 - 45,72 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Рулетики из судака (сибас, дорада) с цуккини
                  .gender-table__item-text 9,79/2,36/2,38 – 69,08 ккал
                .gender-table__item
                  .gender-table__item-heading Салат с семгой и моцареллой
                  .gender-table__item-text 9,4/10,7/2,9 – 134 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Рулетики из судака (сибас, дорада) и цуккини с творожным кремом
                  .gender-table__item-text 9,92/2,75/2,37 – 73,25 ккал
                .gender-table__item
                  .gender-table__item-heading Салат с семгой и моцареллой
                  .gender-table__item-text 9,4/10,7/2,9 – 134 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
        //- /.slide-8__tab.js-tabs__tab
        .slide-8__tab.js-tabs__tab#racion-hard
          table.gender-table
            tr
              td(colspan='2')
                .gender-table__description Рекомендуется специалистами диетологами для поддержания нормальной массы тела и укрепления здоровья. Данное меню было сбалансировано по основным макронутриентам, таким как жиры, белки и сложные углеводы, а также содержит в себе оптимальное количество полезных минералов, необходимых витаминов, клетчатки и фитонутриентов (растительные биоактивные вещества). Такое меню разработано специально для людей, которые не хотят похудеть (снизить вес) или наоборот его набрать.
            tr
              td(colspan='2')
                span.gender-table__heading 1450-2400 ккал.
            tr
              td
                span.gender-table__heading.gender-table__heading_color_yellow.gender-table__heading_ttu ЖЕНЩИНЫ
              td
                span.gender-table__heading.gender-table__heading_color_yellow.gender-table__heading_ttu МУЖЧИНЫ
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Завтрак
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Каша с фруктами, миндалем и фруктовым пюре
                  .gender-table__item-text 2,82/5,35/10,25 – 98,26 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Каша с фруктами, миндалем и фруктовым пюре
                  .gender-table__item-text 2,82/5,35/10,25 – 98,26 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Завтрак 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Фритта (омлет с овощами)
                  .gender-table__item-text 6,5/6,68/3,69 – 101,36 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Фритта (омлет с овощами) с творогом
                  .gender-table__item-text 7,3/7,05/3,5 – 107,47 ккал
                .gender-table__item
                  .gender-table__item-heading Творожные маффины
                  .gender-table__item-text 12,0/0,02/1,75 – 55,26 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Обед
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Салат Капрезе
                  .gender-table__item-text 7,4/14,4/2,4 – 149,5 ккал
                .gender-table__item
                  .gender-table__item-heading Суп-крем из брокколи
                  .gender-table__item-text 4,0/5,81/5,34 - 87,75 ккал
                .gender-table__item
                  .gender-table__item-heading Овощной микс«AlDente»
                  .gender-table__item-text 0,69/0,08/1,66 – 8,98 ккал
                .gender-table__item
                  .gender-table__item-heading Крокеты куриные с грибамии базиликом
                  .gender-table__item-text 12,27/5,21/9,73 – 137,89 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Салат фризе с креветками, томатами, моцареллой и авокадо
                  .gender-table__item-text 7,37/15,73/3,66 – 174,14 ккал
                .gender-table__item
                  .gender-table__item-heading Суп-крем из брокколи
                  .gender-table__item-text 4,0/5,81/5,34 - 87,75 ккал
                .gender-table__item
                  .gender-table__item-heading Полента с грибами
                  .gender-table__item-text 9,4/3,4/48,5 258,0 ккал
                .gender-table__item
                  .gender-table__item-heading Крокеты куриные с грибами, творогом и базиликом
                  .gender-table__item-text 13,38/6,16/7,81 – 143,17 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи грейпфрут, яблоки, морковь
                  .gender-table__item-text 2,25/1,13/6,34 - 45,72 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Смузи грейпфрут, яблоки, морковь
                  .gender-table__item-text 2,25/1,13/6,34 - 45,72 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Рыба запечённая по-итальянски с томатами и маслинами
                  .gender-table__item-text 7,08/6,96/2,81 – 99,18 ккал
                .gender-table__item
                  .gender-table__item-heading Салат Цезарь
                  .gender-table__item-text 12,5/2,98/6,13-  100,72 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Рыба запечённая по-итальянски с томатами и маслинами
                  .gender-table__item-text 8,61/8,67/2,74 - 121,13  ккал
                .gender-table__item
                  .gender-table__item-heading Салат Цезарь
                  .gender-table__item-text 12,5/2,98/6,13-  100,72  ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
        //- /.slide-8__tab.js-tabs__tab
        .slide-8__tab.js-tabs__tab#racion-hard-plus
          table.gender-table
            tr
              td(colspan='2')
                .gender-table__description Меню для эффективного набора веса. Рекомендуется людям весом не менее 70-80 килограмм. Представляет собой гиперкалорийное сбалансированное питание, выше суточных рассчитанных энергетических затрат и которое рекомендуется для увеличения мышечной массы. Вес эффективно увеличивается благодаря большому количеству в блюдах протеинов (около 25 – 40 грамм), дробной системе питания (от пяти до семи раз в день), а также наличию оптимального количества углеводов, которые могут обеспечить организм необходимой энергией в соотношении к белкам не меньше чем 1:2.
            tr
              td(colspan='2')
                span.gender-table__heading 2500-3000 ккал.
            tr
              td
                span.gender-table__heading.gender-table__heading_color_yellow.gender-table__heading_ttu ЖЕНЩИНЫ
              td
                span.gender-table__heading.gender-table__heading_color_yellow.gender-table__heading_ttu МУЖЧИНЫ
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Завтрак
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Банановые сырники с фруктовым пюре
                  .gender-table__item-text 10,21/1,8/18,1 – 129,2 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Банановые сырники с фруктовым пюре
                  .gender-table__item-text 10,21/1,8/18,1 – 129,2 ккал
                .gender-table__item
                  .gender-table__item-heading Каша с фруктами, миндалем и фруктовым пюре
                  .gender-table__item-text (2,82/5,35/10,25 – 98,26 ккал)
                .gender-table__item
                  .gender-table__item-heading Омлет с моцареллой и томатами
                  .gender-table__item-text 33,1/48,3/4,5 – 570 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Завтрак 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Смузи киви-огурец
                  .gender-table__item-text 2,25/1,13/6,34 - 45,72 ккал
                .gender-table__item
                  .gender-table__item-heading Запечённое яблоко
                  .gender-table__item-text 1,23/4,0/11,44 – 87,38 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Смузи киви-огурец
                  .gender-table__item-text 2,25/1,13/6,34 - 45,72 ккал
                .gender-table__item
                  .gender-table__item-heading Запечённое яблоко с медом и орехами
                  .gender-table__item-text 1,54/4,13/13,27 – 96,34 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Обед
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Салат Табуле
                  .gender-table__item-text 1,72/4,27/8,59 – 85,41 ккал
                .gender-table__item
                  .gender-table__item-heading Суп  грибной бисквит
                  .gender-table__item-text 8,6/15,3/23,2 - 255 ккал
                .gender-table__item
                  .gender-table__item-heading Ризотто
                  .gender-table__item-text 3,5/1,5/10,4/ 67,8 ккал
                .gender-table__item
                  .gender-table__item-heading Зразы куриные с яйцом и шпинатом
                  .gender-table__item-text 15,92/6,22/6,77 – 145,68 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Салат Табуле с яйцом пашот
                  .gender-table__item-text 2,76/4,9/7,89 – 92,41 ккал
                .gender-table__item
                  .gender-table__item-heading Суп  грибной бисквит
                  .gender-table__item-text 8,6/15,3/23,2 - 255 ккал
                .gender-table__item
                  .gender-table__item-heading Ризотто
                  .gender-table__item-text 3,5/1,5/10,4/ 67,8 ккал
                .gender-table__item
                  .gender-table__item-heading Зразы куриные с яйцом и шпинатом
                  .gender-table__item-text 15,92/6,22/6,77 – 145,68 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Обед 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 1
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Салат с семгой и моцареллой
                  .gender-table__item-text 9,4/10,7/2,9 – 134 ккал
                .gender-table__item
                  .gender-table__item-heading Полента с грибами
                  .gender-table__item-text 9,4/3,4/48,5 258,0 ккал
                .gender-table__item
                  .gender-table__item-heading Медальоны из телятины с ягодным соусом
                  .gender-table__item-text 17,7/6,8/1,3 – 137,5 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Салат с семгой и моцареллой
                  .gender-table__item-text 9,4/10,7/2,9 – 134 ккал
                .gender-table__item
                  .gender-table__item-heading Полента с грибами
                  .gender-table__item-text 9,4/3,4/48,5 258,0 ккал
                .gender-table__item
                  .gender-table__item-heading Медальоны из телятины с ягодным соусом
                  .gender-table__item-text 17,7/6,8/1,3 – 137,5 ккал
            tr
              td(colspan='2')
                .gender-table__heading.gender-table__heading_color_white Ужин 2
            tr
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
                .gender-table__item
                  .gender-table__item-heading Творог с фруктами
                  .gender-table__item-text 6,54/3,88/10,6 – 101,74 ккал
              td
                .gender-table__item
                  .gender-table__item-heading Йогурт фруктовый
                  .gender-table__item-text 3,7/1,50/8,90 – 63,00 ккал
                .gender-table__item
                  .gender-table__item-heading Творог с фруктами
                  .gender-table__item-text 6,54/3,88/10,6 – 101,74 ккал
        //- /.slide-8__tab.js-tabs__tab
      .slide-8__button
        a.button.js-popup__opener(href='#popup-slide-8') Заказать рацион
