include ../../base/mixins/num-card

.slide-6
  .container
    .slide-6__heading
      .heading
        span.heading__h Заказать индивидуальный#[br]рацион — #[b просто]
    .slide-6__container
      .slide-6__item
        +num-card('1.') #[b Определите для себя цель]#[br]#[b Похудение]#[br]#[b Баланс]#[br]#[b Наращивание мышечной массы]
      .slide-6__item
        +num-card('2.')
          b Позвоните нам — #[a.num-card__phone(href='tel:8129035923') (812) 903—59—23] или #[a.js-popup__opener(href='#popup-slide-6-1') закажите звонок]
      .slide-6__item
        +num-card('3.') Специалист рассчитает вашу целевую программу и оформит заказ
      .slide-6__item
        +num-card('4.') Служба доставки привезет Ваш рацион
    //- .slide-6__container
    .slide-6__button
      a.button.js-popup__opener(href='#popup-slide-6-2') Заказать рацион