include ../../base/mixins/header-icon-card

.slide-3
  .container
    .slide-3__heading
      .heading.heading_color_orange
        span.heading__h Наши преимущества
    .slide-3__container
      .slide-3__item
        +header-icon-card('Думаем за вас:').header-icon-card_icon_1 Вам не придётся придумывать меню, состав блюд и рассчитывать уровень КБЖУ
      .slide-3__item
        +header-icon-card('Экономим ваше время:').header-icon-card_icon_2 Покупка продуктов, готовка и мытье посуды – это время, которое Вы сможете тратить на себя
      .slide-3__item
        +header-icon-card('Заботимся о Вас:').header-icon-card_icon_3
          ul
            li Доставка каждый день
            li Только свежие продукты
            li Эко-упаковка